In [2]:
import pandas as pd

In [3]:
df=pd.read_excel(r"E:\durga79\friendsnamesq.xlsx",sheet_name="Sheet1")

In [4]:
df

  friend_names      quality
0         vani        funny
1       ayesha        funny
2       anusha     senstive
3       anitha     talktive
4        divya     talktive
5       akhila  intelligent
6      supraja     talktive
7        manoj        funny
8      harshad     talktive
9         ajay        funny

In [5]:
df.groupby("quality")["friend_names"].count()

quality
funny          4
intelligent    1
senstive       1
talktive       4
Name: friend_names, dtype: int64

In [6]:
df.columns

Index(['friend_names', 'quality'], dtype='object')

In [7]:
df.quality.unique

array(['funny', 'senstive', 'talktive', 'intelligent'], dtype=object)

In [7]:
df_family=pd.read_excel(r"E:\durga79\friendsnamesq.xlsx",sheet_name="Sheet2")

In [8]:
df_family

  family_member_name     relation
0            baburao       parent
1       dhanalakshmi       parent
2           srinivas      brother
3            sravani       sister
4             kumari        pinni
5        yedukondalu        babai
6           gayathri       sister
7              radha        pinni
8              durga  grandmother
9           subbarao  grandfather

In [11]:
df_family.groupby("relation")["family_member_name"].count()

relation
babai          1
brother        1
grandfather    1
grandmother    1
parent         2
pinni          2
sister         2
Name: family_member_name, dtype: int64