In [3]:
friend_names=['vani','ayesha','anusha','anitha','manasa','akhila','supraja','syamasri','lavanya','mary']
for n in friend_names:
    print('my friend name is',n)

my friend name is vani
my friend name is ayesha
my friend name is anusha
my friend name is anitha
my friend name is manasa
my friend name is akhila
my friend name is supraja
my friend name is syamasri
my friend name is lavanya
my friend name is mary

In [5]:
family_names=['baburao','dahnalakshmi','srinivas','sravani','kumari','yedukondalu','gayathri','radha','durga','subbarao']
for n in family_names:
    print(n)

baburao
dahnalakshmi
srinivas
sravani
kumari
yedukondalu
gayathri
radha
durga
subbarao

In [6]:
food_names=['chicken_friedrice','veg_friedrice','chicken_biryani','veg_biryani','icecreams','juices','chocolates','egg_dosa','egg_masala','panipuri']
for n in food_names:
    print(n)

chicken_friedrice
veg_friedrice
chicken_biryani
veg_biryani
icecreams
juices
chocolates
egg_dosa
egg_masala
panipuri

In [7]:
food_names2=('chicken_friedrice','veg_friedrice','chicken_biryani','veg_biryani','icecreams','juices','chocolates','egg_dosa','egg_masala','panipuri')
for n in food_names2:
    print(n)

chicken_friedrice
veg_friedrice
chicken_biryani
veg_biryani
icecreams
juices
chocolates
egg_dosa
egg_masala
panipuri

In [8]:
colour_names={'black','blue','white','red','pink','naviblue','yellow','babypink','skyblue','parrotgreen'}
for n in colour_names:
    print(n)

red
blue
skyblue
parrotgreen
yellow
white
pink
naviblue
black
babypink

In [9]:
month_names=['january','february','march','april','may','june','july','august','september','october','november','december']
for n in month_names:
    print(n)

january
february
march
april
may
june
july
august
september
october
november
december

In [2]:
for s in range(9,91,9):
    print(s)

9
18
27
36
45
54
63
72
81
90

In [3]:
for s in range(12,121,12):
    print(s)

12
24
36
48
60
72
84
96
108
120