In [1]:
#1. take scenario-1 table fin_opp_mpc[python]
#2. create extract_work_table, consider only patient_id [sql query]
#3. create table hist_pharmacy_clain_oth_acc, necessary columns[sql query]
#4. rename the hist_pharmacy_clain_oth_acc table columns [python]
#5. inner join fin_opp_mpc, hist_pharmacy_clain_oth_acc and extract_work_table with necessary conditions
#6. create the new columns & widget_flag column
#7. keep dataset name as MEDB_CLAIMPULL_OTH

In [2]:
import pandas as pd

In [3]:
BWP_table=pd.read_excel(r"E:\durga79\InputFiles_UPDATED.xlsx",sheet_name="BWP")

In [4]:
BWP_table.head()

,ADJUD_GROUP_OPERATIONAL_ID,CLIENT_MEMBERSHIP_ID,PERSON_NBR,PATIENT_ID,CARRIER_OPERATIONAL_ID,CONTRACT_OPERATIONAL_ID,PHCY_PRODUCT_SERVICE_ID,PHCY_CLAIM_ID,PHCY_RX_NBR,FILL_DAYS_SUPPLY_QTY,...,UMBRELLA_PRODUCT_ID,UMBRELLA_PRODUCT_SRC_CDE,MAIL_PHCY_FILL_NBR,PHCY_ACCOUNT_NBR,DEA_CDE,fill_phcy_provider_id,fill_phcy_provider_src_cde,prescriber_provider_id,prescriber_provider_src_cde,Service_msg_product_id
0,U70481200430043,647555540.0,1.0,304.372.737,1996.0,UHGNUSN1,10001,766.060.379.155.202.910,331595.0,30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,UHGMSP82069,671329696.0,1.0,252.081.172,1996.0,UHA00399,10002,917.856.312.813.572.100,7301639.0,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,UHGMSP82069,671329696.0,1.0,252.081.172,1996.0,UHA00399,10003,419.978.657.472.550.100,7301639.0,25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,U70543701090109,664842223.0,1.0,163.124.689,1996.0,U0706437,10004,337.406.164.497.889.930,6120141.0,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,U71021200020002,666408414.0,2.0,280.508.046,1995.0,UHG26515,10005,765.017.862.336.352.500,412038.0,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
extract_work_table=pd.read_excel(r"E:\durga79\CORE_WORKDB_EXTRACT_WORK_TABLE_3.xlsx",sheet_name="Sheet1")

In [6]:
extract_work_table.head()

    PATIENT_ID
0  563.462.491
1   15.408.268
2  103.051.477
3  340.197.073
4  341.261.430

In [7]:
fin_opp=pd.read_excel(r"E:\durga79\CORE_WORKDB_EXTRACT_WORK_TABLE_3.xlsx",sheet_name="Sheet2")

In [8]:
fin_opp.head()

,PRODUCT_SERVICE_ID,EFF_DTE,BRAND_NME,MAINTENANCE_DRUG_CDE,SPECIALITY_PHCY_IND,DRUG_SUBSTITUTION_CDE,GCN_NBR,LONGTERM_ACUTE
0,10001,NaN,NaN,1,1,NaN,NaN,Y
1,10002,NaN,NaN,1,1,NaN,NaN,Y
2,10003,NaN,NaN,1,1,NaN,NaN,Y
3,10004,NaN,NaN,1,1,NaN,NaN,Y
4,10005,NaN,NaN,1,1,NaN,NaN,Y

In [9]:
BWP_table.rename(columns={"PHCY_PRODUCT_SERVICE_ID":"PRODUCT_SERVICE_ID"},inplace=True)

In [10]:
#BWP_table.columns

In [11]:
#fin_opp_dummy=fin_opp[["PRODUCT_SERVICE_ID"]].iloc[0:20,0:]

In [12]:
#fin_opp_dummy=fin_opp[["PRODUCT_SERVICE_ID"]][:100]

In [13]:
#fin_opp_dummy=pd.concat(fin_opp,fin_opp_dummy)

In [14]:
#bwp_fin_merge_append=pd.concat([BWP_table,fin_opp_dummy])

In [16]:
bwp_fin_merge=BWP_table.merge(fin_opp,how="inner",on="PRODUCT_SERVICE_ID")

In [17]:
bwp_fin_merge

,ADJUD_GROUP_OPERATIONAL_ID,CLIENT_MEMBERSHIP_ID,PERSON_NBR,PATIENT_ID,CARRIER_OPERATIONAL_ID,CONTRACT_OPERATIONAL_ID,PRODUCT_SERVICE_ID,PHCY_CLAIM_ID,PHCY_RX_NBR,FILL_DAYS_SUPPLY_QTY,...,prescriber_provider_id,prescriber_provider_src_cde,Service_msg_product_id,EFF_DTE,BRAND_NME,MAINTENANCE_DRUG_CDE,SPECIALITY_PHCY_IND,DRUG_SUBSTITUTION_CDE,GCN_NBR,LONGTERM_ACUTE
0,U70481200430043,647555540.0,1.0,304.372.737,1996.0,UHGNUSN1,10001,766.060.379.155.202.910,331595.0,30,...,NaN,NaN,NaN,NaN,NaN,1,1,NaN,NaN,Y
1,UHGMSP82069,671329696.0,1.0,252.081.172,1996.0,UHA00399,10002,917.856.312.813.572.100,7301639.0,5,...,NaN,NaN,NaN,NaN,NaN,1,1,NaN,NaN,Y
2,UHGMSP82069,671329696.0,1.0,252.081.172,1996.0,UHA00399,10003,419.978.657.472.550.100,7301639.0,25,...,NaN,NaN,NaN,NaN,NaN,1,1,NaN,NaN,Y
3,U70543701090109,664842223.0,1.0,163.124.689,1996.0,U0706437,10004,337.406.164.497.889.930,6120141.0,3,...,NaN,NaN,NaN,NaN,NaN,1,1,NaN,NaN,Y
4,U71021200020002,666408414.0,2.0,280.508.046,1995.0,UHG26515,10005,765.017.862.336.352.500,412038.0,7,...,NaN,NaN,NaN,NaN,NaN,1,1,NaN,NaN,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218,NaN,NaN,NaN,NaN,NaN,NaN,10219,NaN,NaN,16,...,NaN,NaN,NaN,NaN,NaN,1,1,NaN,NaN,N
219,NaN,NaN,NaN,NaN,NaN,NaN,10220,NaN,NaN,17,...,NaN,NaN,NaN,NaN,NaN,1,1,NaN,NaN,N
220,NaN,NaN,NaN,NaN,NaN,NaN,10221,NaN,NaN,36,...,NaN,NaN,NaN,NaN,NaN,1,1,NaN,NaN,N
221,NaN,NaN,NaN,NaN,NaN,NaN,10222,NaN,NaN,45,...,NaN,NaN,NaN,NaN,NaN,1,1,NaN,NaN,N
222,NaN,NaN,NaN,NaN,NaN,NaN,10223,NaN,NaN,54,...,NaN,NaN,NaN,NaN,NaN,1,1,NaN,NaN,N

In [26]:
extract_work_table_dummy=extract_work_table[['PATIENT_ID']][:50]

In [27]:
bwp_fin_extract_work_merge_v1=pd.concat([bwp_fin_merge,extract_work_table_dummy])

In [28]:
bwp_fin_extract_work_merge=bwp_fin_extract_work_merge_v1.merge(extract_work_table,how="inner",on="PATIENT_ID")

In [29]:
bwp_fin_extract_work_merge

,ADJUD_GROUP_OPERATIONAL_ID,CLIENT_MEMBERSHIP_ID,PERSON_NBR,PATIENT_ID,CARRIER_OPERATIONAL_ID,CONTRACT_OPERATIONAL_ID,PRODUCT_SERVICE_ID,PHCY_CLAIM_ID,PHCY_RX_NBR,FILL_DAYS_SUPPLY_QTY,...,prescriber_provider_id,prescriber_provider_src_cde,Service_msg_product_id,EFF_DTE,BRAND_NME,MAINTENANCE_DRUG_CDE,SPECIALITY_PHCY_IND,DRUG_SUBSTITUTION_CDE,GCN_NBR,LONGTERM_ACUTE
0,NaN,NaN,NaN,563.462.491,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,563.462.491,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,563.462.491,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,563.462.491,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,563.462.491,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1555,NaN,NaN,NaN,560.969.108,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1556,NaN,NaN,NaN,560.969.108,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1557,NaN,NaN,NaN,560.969.108,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1558,NaN,NaN,NaN,560.969.108,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1559,NaN,NaN,NaN,560.969.108,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
bwp_fin_extract_work_merge["WIDGET_FLAG"]=""

In [32]:
bwp_fin_extract_work_merge.head()

,ADJUD_GROUP_OPERATIONAL_ID,CLIENT_MEMBERSHIP_ID,PERSON_NBR,PATIENT_ID,CARRIER_OPERATIONAL_ID,CONTRACT_OPERATIONAL_ID,PRODUCT_SERVICE_ID,PHCY_CLAIM_ID,PHCY_RX_NBR,FILL_DAYS_SUPPLY_QTY,...,prescriber_provider_src_cde,Service_msg_product_id,EFF_DTE,BRAND_NME,MAINTENANCE_DRUG_CDE,SPECIALITY_PHCY_IND,DRUG_SUBSTITUTION_CDE,GCN_NBR,LONGTERM_ACUTE,WIDGET_FLAG
0,NaN,NaN,NaN,563.462.491,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
1,NaN,NaN,NaN,563.462.491,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
2,NaN,NaN,NaN,563.462.491,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
3,NaN,NaN,NaN,563.462.491,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
4,NaN,NaN,NaN,563.462.491,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,

In [ ]:
bwp_fin_extract_work_merge