In [1]:
import pandas as pd
import numpy as np

In [2]:
# date
from datetime import date
Date=date.today()

print(Date)

2023-12-01

In [3]:
NDC_DCR_LIST=pd.read_excel(r"C:\Users\hp\Downloads\InputFiles.xlsx",sheet_name="NDC_DCR_LIST")

In [4]:
NDC_DCR_LIST

      NDC_NBR  DCR_DRUG_LST_ID
0       10001                1
1       10001                2
2       10001                3
3       10001                4
4       10001                5
...       ...              ...
1014    10062                6
1015    10062                7
1016    10062                8
1017    10062                9
1018    10062               10

[1019 rows x 2 columns]

In [5]:
NDC_DCR_LIST.shape

(1019, 2)

In [6]:
NDC_DCR_LIST.head()

   NDC_NBR  DCR_DRUG_LST_ID
0    10001                1
1    10001                2
2    10001                3
3    10001                4
4    10001                5

In [7]:
NDC_DCR_LIST.tail()

      NDC_NBR  DCR_DRUG_LST_ID
1014    10062                6
1015    10062                7
1016    10062                8
1017    10062                9
1018    10062               10

In [8]:
NDC_DCR_LIST.NDC_NBR.unique()

array([10001, 10002, 10003, 10004, 10005, 10006, 10007, 10008, 10009,
       10010, 10011, 10012, 10013, 10014, 10015, 10016, 10017, 10018,
       10019, 10020, 10021, 10022, 10023, 10024, 10025, 10061, 10062],
      dtype=int64)

In [9]:
NDC_DCR_LIST.NDC_NBR.value_counts()

10018    80
10005    62
10019    61
10016    60
10015    60
10014    56
10017    52
10023    50
10025    48
10021    47
10024    43
10012    42
10020    42
10022    42
10010    39
10013    36
10011    29
10007    28
10009    27
10008    21
10004    21
10003    18
10002    14
10006    12
10001    10
10062    10
10061     9
Name: NDC_NBR, dtype: int64

In [10]:
NDC_DCR_LIST.dtypes

NDC_NBR            int64
DCR_DRUG_LST_ID    int64
dtype: object

In [11]:
NDC_DCR_LIST_HIST=pd.read_excel(r"C:\Users\hp\Downloads\InputFiles.xlsx",sheet_name="NDC_DCR_LIST_HIST")

In [12]:
NDC_DCR_LIST_HIST

      NDC_NBR  DCR_DRUG_LST_ID INSERT_DATE  DROP_DATE
0       10001              1.0  2021-05-23 2024-09-03
1       10001              2.0  2021-08-09 2024-09-03
2       10001              3.0  2022-03-01 2022-07-05
3       10001              4.0  2020-01-20 2022-07-05
4       10001              5.0  2020-11-10 2024-09-03
...       ...              ...         ...        ...
2032    10060             28.0  2022-09-01 2024-09-03
2033    10060             29.0  2021-04-07 2024-09-03
2034    10060             30.0  2022-04-20 2024-09-03
2035    10060             31.0  2021-04-03 2024-09-03
2036    10060             32.0  2022-09-01 2024-09-03

[2037 rows x 4 columns]

In [13]:
NDC_DCR_LIST_HIST.DROP_DATE.unique()

array(['2024-09-03T00:00:00.000000000', '2022-07-05T00:00:00.000000000',
       '2022-09-01T00:00:00.000000000', '2022-04-20T00:00:00.000000000',
       '2022-03-01T00:00:00.000000000'], dtype='datetime64[ns]')

In [14]:
NDC_DCR_LIST_HIST.NDC_NBR.unique

<bound method Series.unique of 0       10001
1       10001
2       10001
3       10001
4       10001
        ...
2032    10060
2033    10060
2034    10060
2035    10060
2036    10060
Name: NDC_NBR, Length: 2037, dtype: int64>

In [15]:
NDC_DCR_LIST_HIST.head()

   NDC_NBR  DCR_DRUG_LST_ID INSERT_DATE  DROP_DATE
0    10001              1.0  2021-05-23 2024-09-03
1    10001              2.0  2021-08-09 2024-09-03
2    10001              3.0  2022-03-01 2022-07-05
3    10001              4.0  2020-01-20 2022-07-05
4    10001              5.0  2020-11-10 2024-09-03

In [16]:
NDC_DCR_LIST_HIST.tail()

      NDC_NBR  DCR_DRUG_LST_ID INSERT_DATE  DROP_DATE
2032    10060             28.0  2022-09-01 2024-09-03
2033    10060             29.0  2021-04-07 2024-09-03
2034    10060             30.0  2022-04-20 2024-09-03
2035    10060             31.0  2021-04-03 2024-09-03
2036    10060             32.0  2022-09-01 2024-09-03

In [17]:
NDC_DCR_LIST_HIST.dtypes

NDC_NBR                     int64
DCR_DRUG_LST_ID           float64
INSERT_DATE        datetime64[ns]
DROP_DATE          datetime64[ns]
dtype: object

In [18]:
NDC_DCR_LIST_HIST["DCR_DRUG_LST_ID"]=NDC_DCR_LIST_HIST["DCR_DRUG_LST_ID"].astype("int64")

In [19]:
NDC_DCR_LIST_HIST.dtypes

NDC_NBR                     int64
DCR_DRUG_LST_ID             int64
INSERT_DATE        datetime64[ns]
DROP_DATE          datetime64[ns]
dtype: object

In [20]:
NDC_DCR_LIST_HIST[NDC_DCR_LIST_HIST["DROP_DATE"]=="2024-09-03"]

      NDC_NBR  DCR_DRUG_LST_ID INSERT_DATE  DROP_DATE
0       10001                1  2021-05-23 2024-09-03
1       10001                2  2021-08-09 2024-09-03
4       10001                5  2020-11-10 2024-09-03
6       10001                7  2021-02-19 2024-09-03
7       10001                8  2022-07-05 2024-09-03
...       ...              ...         ...        ...
2032    10060               28  2022-09-01 2024-09-03
2033    10060               29  2021-04-07 2024-09-03
2034    10060               30  2022-04-20 2024-09-03
2035    10060               31  2021-04-03 2024-09-03
2036    10060               32  2022-09-01 2024-09-03

[1866 rows x 4 columns]

In [21]:
NDC_DCR_LIST_HIST_fud=NDC_DCR_LIST_HIST[NDC_DCR_LIST_HIST["DROP_DATE"]=="2024-09-03"]
NDC_DCR_LIST_HIST_fud_nt=NDC_DCR_LIST_HIST[NDC_DCR_LIST_HIST["DROP_DATE"]!="2024-09-03"]

In [22]:
NDC_DCR_LIST_HIST_fud

      NDC_NBR  DCR_DRUG_LST_ID INSERT_DATE  DROP_DATE
0       10001                1  2021-05-23 2024-09-03
1       10001                2  2021-08-09 2024-09-03
4       10001                5  2020-11-10 2024-09-03
6       10001                7  2021-02-19 2024-09-03
7       10001                8  2022-07-05 2024-09-03
...       ...              ...         ...        ...
2032    10060               28  2022-09-01 2024-09-03
2033    10060               29  2021-04-07 2024-09-03
2034    10060               30  2022-04-20 2024-09-03
2035    10060               31  2021-04-03 2024-09-03
2036    10060               32  2022-09-01 2024-09-03

[1866 rows x 4 columns]

In [23]:
NDC_DCR_LIST_HIST_fud.dtypes

NDC_NBR                     int64
DCR_DRUG_LST_ID             int64
INSERT_DATE        datetime64[ns]
DROP_DATE          datetime64[ns]
dtype: object

In [24]:
NDC_DCR_LIST_HIST_fud_nt

     NDC_NBR  DCR_DRUG_LST_ID INSERT_DATE  DROP_DATE
2      10001                3  2022-03-01 2022-07-05
3      10001                4  2020-01-20 2022-07-05
5      10001                6  2020-07-22 2022-09-01
9      10001               10  2021-08-15 2022-09-01
13     10002                4  2021-04-07 2022-07-05
..       ...              ...         ...        ...
870    10023               12  2021-04-03 2022-04-20
874    10023               16  2021-08-09 2022-07-05
875    10023               17  2022-03-01 2022-04-20
881    10023               23  2020-02-09 2022-04-20
885    10023               27  2022-09-01 2022-07-05

[171 rows x 4 columns]

In [25]:
NDC_DCR_LIST_HIST_fud_nt.dtypes

NDC_NBR                     int64
DCR_DRUG_LST_ID             int64
INSERT_DATE        datetime64[ns]
DROP_DATE          datetime64[ns]
dtype: object

In [26]:
NDC_DCR_LIST_v1=NDC_DCR_LIST

In [27]:
NDC_DCR_LIST_v1.columns=["NDC_NBR_v1","DCR_DRUG_LST_ID_v1"]

In [28]:
merge_df=NDC_DCR_LIST_HIST_fud.merge(NDC_DCR_LIST_v1,left_on=["NDC_NBR","DCR_DRUG_LST_ID"],right_on=["NDC_NBR_v1","DCR_DRUG_LST_ID_v1"],how="left")

In [29]:
merge_df

,NDC_NBR,DCR_DRUG_LST_ID,INSERT_DATE,DROP_DATE,NDC_NBR_v1,DCR_DRUG_LST_ID_v1
0,10001,1,2021-05-23,2024-09-03,10001.0,1.0
1,10001,2,2021-08-09,2024-09-03,10001.0,2.0
2,10001,5,2020-11-10,2024-09-03,10001.0,5.0
3,10001,7,2021-02-19,2024-09-03,10001.0,7.0
4,10001,8,2022-07-05,2024-09-03,10001.0,8.0
...,...,...,...,...,...,...
1861,10060,28,2022-09-01,2024-09-03,NaN,NaN
1862,10060,29,2021-04-07,2024-09-03,NaN,NaN
1863,10060,30,2022-04-20,2024-09-03,NaN,NaN
1864,10060,31,2021-04-03,2024-09-03,NaN,NaN
1865,10060,32,2022-09-01,2024-09-03,NaN,NaN

In [30]:
merge_df_null=merge_df.fillna(0)

In [31]:
merge_df_null

,NDC_NBR,DCR_DRUG_LST_ID,INSERT_DATE,DROP_DATE,NDC_NBR_v1,DCR_DRUG_LST_ID_v1
0,10001,1,2021-05-23,2024-09-03,10001.0,1.0
1,10001,2,2021-08-09,2024-09-03,10001.0,2.0
2,10001,5,2020-11-10,2024-09-03,10001.0,5.0
3,10001,7,2021-02-19,2024-09-03,10001.0,7.0
4,10001,8,2022-07-05,2024-09-03,10001.0,8.0
...,...,...,...,...,...,...
1861,10060,28,2022-09-01,2024-09-03,0.0,0.0
1862,10060,29,2021-04-07,2024-09-03,0.0,0.0
1863,10060,30,2022-04-20,2024-09-03,0.0,0.0
1864,10060,31,2021-04-03,2024-09-03,0.0,0.0
1865,10060,32,2022-09-01,2024-09-03,0.0,0.0

In [32]:
merge_df_null.dtypes

NDC_NBR                        int64
DCR_DRUG_LST_ID                int64
INSERT_DATE           datetime64[ns]
DROP_DATE             datetime64[ns]
NDC_NBR_v1                   float64
DCR_DRUG_LST_ID_v1           float64
dtype: object

In [33]:
merge_df_null_nonmatch=merge_df_null[merge_df_null["NDC_NBR_v1"]==0]

In [34]:
merge_df_null_nonmatch

,NDC_NBR,DCR_DRUG_LST_ID,INSERT_DATE,DROP_DATE,NDC_NBR_v1,DCR_DRUG_LST_ID_v1
283,10013,37,2021-04-07,2024-09-03,0.0,0.0
829,10026,1,2022-09-01,2024-09-03,0.0,0.0
830,10026,2,2021-04-07,2024-09-03,0.0,0.0
831,10026,3,2021-02-19,2024-09-03,0.0,0.0
832,10026,4,2022-07-05,2024-09-03,0.0,0.0
...,...,...,...,...,...,...
1861,10060,28,2022-09-01,2024-09-03,0.0,0.0
1862,10060,29,2021-04-07,2024-09-03,0.0,0.0
1863,10060,30,2022-04-20,2024-09-03,0.0,0.0
1864,10060,31,2021-04-03,2024-09-03,0.0,0.0
1865,10060,32,2022-09-01,2024-09-03,0.0,0.0

In [35]:
merge_df_null_nonmatch.dtypes

NDC_NBR                        int64
DCR_DRUG_LST_ID                int64
INSERT_DATE           datetime64[ns]
DROP_DATE             datetime64[ns]
NDC_NBR_v1                   float64
DCR_DRUG_LST_ID_v1           float64
dtype: object

In [36]:
ndcnbridfilters=merge_df_null_nonmatch['NDC_NBR'].to_list()

In [37]:
ndcnbridfilters

[10013,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10026,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10027,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10028,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10029,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10030,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10045,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10046,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10047,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10048,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10049,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10050,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10051,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10052,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10053,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10054,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10055,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10056,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10057,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10058,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 10059,
 ...]

In [38]:
NDC_DCR_LIST_HIST_fud_test=NDC_DCR_LIST_HIST_fud

In [39]:
NDC_DCR_LIST_HIST_fud_test

      NDC_NBR  DCR_DRUG_LST_ID INSERT_DATE  DROP_DATE
0       10001                1  2021-05-23 2024-09-03
1       10001                2  2021-08-09 2024-09-03
4       10001                5  2020-11-10 2024-09-03
6       10001                7  2021-02-19 2024-09-03
7       10001                8  2022-07-05 2024-09-03
...       ...              ...         ...        ...
2032    10060               28  2022-09-01 2024-09-03
2033    10060               29  2021-04-07 2024-09-03
2034    10060               30  2022-04-20 2024-09-03
2035    10060               31  2021-04-03 2024-09-03
2036    10060               32  2022-09-01 2024-09-03

[1866 rows x 4 columns]

In [40]:
NDC_DCR_LIST_HIST_fud_test.dtypes

NDC_NBR                     int64
DCR_DRUG_LST_ID             int64
INSERT_DATE        datetime64[ns]
DROP_DATE          datetime64[ns]
dtype: object

In [41]:
newdf=pd.DataFrame([Date,Date],columns=['dates'])

In [42]:
newdf

        dates
0  2023-12-01
1  2023-12-01

In [43]:
newdf.dtypes

dates    object
dtype: object

In [44]:
# convert the 'Date' column to datetime format
newdf['dates']= pd.to_datetime(newdf['dates'])
 
# Check the format of 'Date' column
newdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   dates   2 non-null      datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 144.0 bytes

In [45]:
newdf["dates"][0]

Timestamp('2023-12-01 00:00:00')

In [46]:
NDC_DCR_LIST_HIST_fud_test['DROP_DATE']=NDC_DCR_LIST_HIST_fud_test['DROP_DATE'].astype('object')

C:\Users\hp\AppData\Local\Temp\ipykernel_3096\4051553.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  NDC_DCR_LIST_HIST_fud_test['DROP_DATE']=NDC_DCR_LIST_HIST_fud_test['DROP_DATE'].astype('object')

In [47]:
NDC_DCR_LIST_HIST_fud_test

      NDC_NBR  DCR_DRUG_LST_ID INSERT_DATE            DROP_DATE
0       10001                1  2021-05-23  2024-09-03 00:00:00
1       10001                2  2021-08-09  2024-09-03 00:00:00
4       10001                5  2020-11-10  2024-09-03 00:00:00
6       10001                7  2021-02-19  2024-09-03 00:00:00
7       10001                8  2022-07-05  2024-09-03 00:00:00
...       ...              ...         ...                  ...
2032    10060               28  2022-09-01  2024-09-03 00:00:00
2033    10060               29  2021-04-07  2024-09-03 00:00:00
2034    10060               30  2022-04-20  2024-09-03 00:00:00
2035    10060               31  2021-04-03  2024-09-03 00:00:00
2036    10060               32  2022-09-01  2024-09-03 00:00:00

[1866 rows x 4 columns]

In [48]:
NDC_DCR_LIST_HIST_fud_test["DROP_DATE"]=np.where(NDC_DCR_LIST_HIST_fud_test["NDC_NBR"].isin(ndcnbridfilters),newdf["dates"][0],NDC_DCR_LIST_HIST_fud_test["DROP_DATE"])

C:\Users\hp\AppData\Local\Temp\ipykernel_3096\561268888.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  NDC_DCR_LIST_HIST_fud_test["DROP_DATE"]=np.where(NDC_DCR_LIST_HIST_fud_test["NDC_NBR"].isin(ndcnbridfilters),newdf["dates"][0],NDC_DCR_LIST_HIST_fud_test["DROP_DATE"])

In [49]:
NDC_DCR_LIST_HIST_fud_test

      NDC_NBR  DCR_DRUG_LST_ID INSERT_DATE  DROP_DATE
0       10001                1  2021-05-23 2024-09-03
1       10001                2  2021-08-09 2024-09-03
4       10001                5  2020-11-10 2024-09-03
6       10001                7  2021-02-19 2024-09-03
7       10001                8  2022-07-05 2024-09-03
...       ...              ...         ...        ...
2032    10060               28  2022-09-01 2023-12-01
2033    10060               29  2021-04-07 2023-12-01
2034    10060               30  2022-04-20 2023-12-01
2035    10060               31  2021-04-03 2023-12-01
2036    10060               32  2022-09-01 2023-12-01

[1866 rows x 4 columns]

In [50]:
####################### 2C ##########

In [51]:
NDC_DCR_LIST_HIST_fud_nt

     NDC_NBR  DCR_DRUG_LST_ID INSERT_DATE  DROP_DATE
2      10001                3  2022-03-01 2022-07-05
3      10001                4  2020-01-20 2022-07-05
5      10001                6  2020-07-22 2022-09-01
9      10001               10  2021-08-15 2022-09-01
13     10002                4  2021-04-07 2022-07-05
..       ...              ...         ...        ...
870    10023               12  2021-04-03 2022-04-20
874    10023               16  2021-08-09 2022-07-05
875    10023               17  2022-03-01 2022-04-20
881    10023               23  2020-02-09 2022-04-20
885    10023               27  2022-09-01 2022-07-05

[171 rows x 4 columns]

In [52]:
NDC_DCR_LIST_HIST_fud_nt.NDC_NBR.value_counts()

10019    13
10020    12
10010    12
10021    11
10018    11
10016    10
10005     9
10012     8
10014     8
10022     8
10015     8
10023     8
10017     7
10011     6
10013     5
10009     5
10007     5
10004     5
10002     4
10008     4
10006     4
10003     4
10001     4
Name: NDC_NBR, dtype: int64

In [53]:
#NDC_DCR_LIST_v2=NDC_DCR_LIST

In [54]:
NDC_DCR_LIST.columns=["NDC_NBR_v1","DCR_DRUG_LST_ID_v1"]

In [55]:
merge_df=NDC_DCR_LIST.merge(NDC_DCR_LIST_HIST_fud_nt,left_on=["NDC_NBR_v1","DCR_DRUG_LST_ID_v1"],right_on=["NDC_NBR","DCR_DRUG_LST_ID"],how="left")

In [56]:
merge_df

,NDC_NBR_v1,DCR_DRUG_LST_ID_v1,NDC_NBR,DCR_DRUG_LST_ID,INSERT_DATE,DROP_DATE
0,10001,1,NaN,NaN,NaT,NaT
1,10001,2,NaN,NaN,NaT,NaT
2,10001,3,10001.0,3.0,2022-03-01,2022-07-05
3,10001,4,10001.0,4.0,2020-01-20,2022-07-05
4,10001,5,NaN,NaN,NaT,NaT
...,...,...,...,...,...,...
1014,10062,6,NaN,NaN,NaT,NaT
1015,10062,7,NaN,NaN,NaT,NaT
1016,10062,8,NaN,NaN,NaT,NaT
1017,10062,9,NaN,NaN,NaT,NaT
1018,10062,10,NaN,NaN,NaT,NaT

In [57]:
merge_df.NDC_NBR.unique()

array([   nan, 10001., 10002., 10003., 10004., 10005., 10006., 10007.,
       10008., 10009., 10010., 10011., 10012., 10013., 10014., 10015.,
       10016., 10017., 10018., 10019., 10020., 10021., 10022., 10023.])

In [58]:
merge=merge_df.fillna(0)

In [59]:
merge

,NDC_NBR_v1,DCR_DRUG_LST_ID_v1,NDC_NBR,DCR_DRUG_LST_ID,INSERT_DATE,DROP_DATE
0,10001,1,0.0,0.0,0,0
1,10001,2,0.0,0.0,0,0
2,10001,3,10001.0,3.0,2022-03-01 00:00:00,2022-07-05 00:00:00
3,10001,4,10001.0,4.0,2020-01-20 00:00:00,2022-07-05 00:00:00
4,10001,5,0.0,0.0,0,0
...,...,...,...,...,...,...
1014,10062,6,0.0,0.0,0,0
1015,10062,7,0.0,0.0,0,0
1016,10062,8,0.0,0.0,0,0
1017,10062,9,0.0,0.0,0,0
1018,10062,10,0.0,0.0,0,0

In [60]:
NDC_DCR_LIST_NEW=merge[merge["NDC_NBR"]==0]

In [61]:
NDC_DCR_LIST_NEW

,NDC_NBR_v1,DCR_DRUG_LST_ID_v1,NDC_NBR,DCR_DRUG_LST_ID,INSERT_DATE,DROP_DATE
0,10001,1,0.0,0.0,0,0
1,10001,2,0.0,0.0,0,0
4,10001,5,0.0,0.0,0,0
6,10001,7,0.0,0.0,0,0
7,10001,8,0.0,0.0,0,0
...,...,...,...,...,...,...
1014,10062,6,0.0,0.0,0,0
1015,10062,7,0.0,0.0,0,0
1016,10062,8,0.0,0.0,0,0
1017,10062,9,0.0,0.0,0,0
1018,10062,10,0.0,0.0,0,0

In [62]:
NDC_DCR_LIST_NEW.NDC_NBR_v1.unique()

array([10001, 10002, 10003, 10004, 10005, 10006, 10007, 10008, 10009,
       10010, 10011, 10012, 10013, 10014, 10015, 10016, 10017, 10018,
       10019, 10020, 10021, 10022, 10023, 10024, 10025, 10061, 10062],
      dtype=int64)

In [63]:
NDC_DCR_LIST_NEW.NDC_NBR_v1.value_counts()

10018    69
10005    53
10015    52
10016    50
10014    48
10019    48
10025    48
10017    45
10024    43
10023    42
10021    36
10012    34
10022    34
10013    31
10020    30
10010    27
10007    24
10011    23
10009    22
10008    17
10004    16
10003    14
10062    10
10002    10
10061     9
10006     8
10001     6
Name: NDC_NBR_v1, dtype: int64

In [64]:
NDC_DCR_LIST_NEW.NDC_NBR_v1.unique()

array([10001, 10002, 10003, 10004, 10005, 10006, 10007, 10008, 10009,
       10010, 10011, 10012, 10013, 10014, 10015, 10016, 10017, 10018,
       10019, 10020, 10021, 10022, 10023, 10024, 10025, 10061, 10062],
      dtype=int64)

In [65]:
########## 2D ##########

In [66]:
NDC_DCR_LIST

      NDC_NBR_v1  DCR_DRUG_LST_ID_v1
0          10001                   1
1          10001                   2
2          10001                   3
3          10001                   4
4          10001                   5
...          ...                 ...
1014       10062                   6
1015       10062                   7
1016       10062                   8
1017       10062                   9
1018       10062                  10

[1019 rows x 2 columns]

In [67]:
NDC_DCR_LIST_HIST

      NDC_NBR  DCR_DRUG_LST_ID INSERT_DATE  DROP_DATE
0       10001                1  2021-05-23 2024-09-03
1       10001                2  2021-08-09 2024-09-03
2       10001                3  2022-03-01 2022-07-05
3       10001                4  2020-01-20 2022-07-05
4       10001                5  2020-11-10 2024-09-03
...       ...              ...         ...        ...
2032    10060               28  2022-09-01 2024-09-03
2033    10060               29  2021-04-07 2024-09-03
2034    10060               30  2022-04-20 2024-09-03
2035    10060               31  2021-04-03 2024-09-03
2036    10060               32  2022-09-01 2024-09-03

[2037 rows x 4 columns]

In [68]:
merge_df3=NDC_DCR_LIST_HIST.merge(NDC_DCR_LIST,left_on=["NDC_NBR","DCR_DRUG_LST_ID"],right_on=["NDC_NBR_v1","DCR_DRUG_LST_ID_v1"],how="left")

In [69]:
merge_df3

,NDC_NBR,DCR_DRUG_LST_ID,INSERT_DATE,DROP_DATE,NDC_NBR_v1,DCR_DRUG_LST_ID_v1
0,10001,1,2021-05-23,2024-09-03,10001.0,1.0
1,10001,2,2021-08-09,2024-09-03,10001.0,2.0
2,10001,3,2022-03-01,2022-07-05,10001.0,3.0
3,10001,4,2020-01-20,2022-07-05,10001.0,4.0
4,10001,5,2020-11-10,2024-09-03,10001.0,5.0
...,...,...,...,...,...,...
2032,10060,28,2022-09-01,2024-09-03,NaN,NaN
2033,10060,29,2021-04-07,2024-09-03,NaN,NaN
2034,10060,30,2022-04-20,2024-09-03,NaN,NaN
2035,10060,31,2021-04-03,2024-09-03,NaN,NaN
2036,10060,32,2022-09-01,2024-09-03,NaN,NaN

In [70]:
merge_df3.DROP_DATE.unique()

array(['2024-09-03T00:00:00.000000000', '2022-07-05T00:00:00.000000000',
       '2022-09-01T00:00:00.000000000', '2022-04-20T00:00:00.000000000',
       '2022-03-01T00:00:00.000000000'], dtype='datetime64[ns]')

In [71]:
merge_df3_fil=merge_df3[merge_df3["DROP_DATE"]!="2024-09-03"]

In [72]:
merge_df3_fil

,NDC_NBR,DCR_DRUG_LST_ID,INSERT_DATE,DROP_DATE,NDC_NBR_v1,DCR_DRUG_LST_ID_v1
2,10001,3,2022-03-01,2022-07-05,10001.0,3.0
3,10001,4,2020-01-20,2022-07-05,10001.0,4.0
5,10001,6,2020-07-22,2022-09-01,10001.0,6.0
9,10001,10,2021-08-15,2022-09-01,10001.0,10.0
13,10002,4,2021-04-07,2022-07-05,10002.0,4.0
...,...,...,...,...,...,...
870,10023,12,2021-04-03,2022-04-20,10023.0,12.0
874,10023,16,2021-08-09,2022-07-05,10023.0,16.0
875,10023,17,2022-03-01,2022-04-20,10023.0,17.0
881,10023,23,2020-02-09,2022-04-20,10023.0,23.0
885,10023,27,2022-09-01,2022-07-05,10023.0,27.0

In [73]:
merge_df3_fil.dtypes

NDC_NBR                        int64
DCR_DRUG_LST_ID                int64
INSERT_DATE           datetime64[ns]
DROP_DATE             datetime64[ns]
NDC_NBR_v1                   float64
DCR_DRUG_LST_ID_v1           float64
dtype: object

In [74]:
future_date="2024-09-03"
future_date

'2024-09-03'

In [75]:
merge_df3_fil["DROP_DATE"]=merge_df3_fil["DROP_DATE"].astype("object")

C:\Users\hp\AppData\Local\Temp\ipykernel_3096\2071007397.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merge_df3_fil["DROP_DATE"]=merge_df3_fil["DROP_DATE"].astype("object")

In [76]:
merge_df3_fil.dtypes

NDC_NBR                        int64
DCR_DRUG_LST_ID                int64
INSERT_DATE           datetime64[ns]
DROP_DATE                     object
NDC_NBR_v1                   float64
DCR_DRUG_LST_ID_v1           float64
dtype: object

In [77]:
merge_df3_fil["DROP_DATE"]=np.where(merge_df3_fil["DROP_DATE"]!="2024-09-03",future_date,merge_df3_fil["DROP_DATE"])

C:\Users\hp\AppData\Local\Temp\ipykernel_3096\3436747840.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merge_df3_fil["DROP_DATE"]=np.where(merge_df3_fil["DROP_DATE"]!="2024-09-03",future_date,merge_df3_fil["DROP_DATE"])

In [78]:
merge_df3_fil

,NDC_NBR,DCR_DRUG_LST_ID,INSERT_DATE,DROP_DATE,NDC_NBR_v1,DCR_DRUG_LST_ID_v1
2,10001,3,2022-03-01,2024-09-03,10001.0,3.0
3,10001,4,2020-01-20,2024-09-03,10001.0,4.0
5,10001,6,2020-07-22,2024-09-03,10001.0,6.0
9,10001,10,2021-08-15,2024-09-03,10001.0,10.0
13,10002,4,2021-04-07,2024-09-03,10002.0,4.0
...,...,...,...,...,...,...
870,10023,12,2021-04-03,2024-09-03,10023.0,12.0
874,10023,16,2021-08-09,2024-09-03,10023.0,16.0
875,10023,17,2022-03-01,2024-09-03,10023.0,17.0
881,10023,23,2020-02-09,2024-09-03,10023.0,23.0
885,10023,27,2022-09-01,2024-09-03,10023.0,27.0

In [79]:
merge_df3_fil.DROP_DATE.unique()

array(['2024-09-03'], dtype=object)

In [80]:
merge_df3_fil.dtypes

NDC_NBR                        int64
DCR_DRUG_LST_ID                int64
INSERT_DATE           datetime64[ns]
DROP_DATE                     object
NDC_NBR_v1                   float64
DCR_DRUG_LST_ID_v1           float64
dtype: object

In [81]:
merge_df3_fil["INSERT_DATE"]=merge_df3_fil["INSERT_DATE"].astype("object")

C:\Users\hp\AppData\Local\Temp\ipykernel_3096\3099896085.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merge_df3_fil["INSERT_DATE"]=merge_df3_fil["INSERT_DATE"].astype("object")

In [82]:
merge_df3_fil.dtypes

NDC_NBR                 int64
DCR_DRUG_LST_ID         int64
INSERT_DATE            object
DROP_DATE              object
NDC_NBR_v1            float64
DCR_DRUG_LST_ID_v1    float64
dtype: object

In [83]:
merge_df3_fil["INSERT_DATE"]=np.where(merge_df3_fil["INSERT_DATE"]!="2024-09-03",Date,merge_df3_fil["INSERT_DATE"])

C:\Users\hp\AppData\Local\Temp\ipykernel_3096\1418785734.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merge_df3_fil["INSERT_DATE"]=np.where(merge_df3_fil["INSERT_DATE"]!="2024-09-03",Date,merge_df3_fil["INSERT_DATE"])

In [84]:
merge_df3_fil

,NDC_NBR,DCR_DRUG_LST_ID,INSERT_DATE,DROP_DATE,NDC_NBR_v1,DCR_DRUG_LST_ID_v1
2,10001,3,2023-12-01,2024-09-03,10001.0,3.0
3,10001,4,2023-12-01,2024-09-03,10001.0,4.0
5,10001,6,2023-12-01,2024-09-03,10001.0,6.0
9,10001,10,2023-12-01,2024-09-03,10001.0,10.0
13,10002,4,2023-12-01,2024-09-03,10002.0,4.0
...,...,...,...,...,...,...
870,10023,12,2023-12-01,2024-09-03,10023.0,12.0
874,10023,16,2023-12-01,2024-09-03,10023.0,16.0
875,10023,17,2023-12-01,2024-09-03,10023.0,17.0
881,10023,23,2023-12-01,2024-09-03,10023.0,23.0
885,10023,27,2023-12-01,2024-09-03,10023.0,27.0

In [85]:
NDC_DCR_LIST.columns=["NDC_NBR_v1","DCR_DRUG_LST_ID_v1"]

In [86]:
merge_df4=NDC_DCR_LIST.merge(NDC_DCR_LIST_HIST,left_on=["NDC_NBR_v1","DCR_DRUG_LST_ID_v1"],right_on=["NDC_NBR","DCR_DRUG_LST_ID"],how="left")

In [87]:
merge_df4

,NDC_NBR_v1,DCR_DRUG_LST_ID_v1,NDC_NBR,DCR_DRUG_LST_ID,INSERT_DATE,DROP_DATE
0,10001,1,10001.0,1.0,2021-05-23,2024-09-03
1,10001,2,10001.0,2.0,2021-08-09,2024-09-03
2,10001,3,10001.0,3.0,2022-03-01,2022-07-05
3,10001,4,10001.0,4.0,2020-01-20,2022-07-05
4,10001,5,10001.0,5.0,2020-11-10,2024-09-03
...,...,...,...,...,...,...
1014,10062,6,NaN,NaN,NaT,NaT
1015,10062,7,NaN,NaN,NaT,NaT
1016,10062,8,NaN,NaN,NaT,NaT
1017,10062,9,NaN,NaN,NaT,NaT
1018,10062,10,NaN,NaN,NaT,NaT

In [88]:
merge_df4.NDC_NBR.unique()

array([10001., 10002., 10003., 10004., 10005., 10006., 10007.,    nan,
       10008., 10009., 10010., 10011., 10012., 10013., 10014., 10015.,
       10016., 10017., 10018., 10019., 10020., 10021., 10022., 10023.,
       10024., 10025.])

In [89]:
merge_df4_nan=merge_df4.fillna(0)

In [90]:
merge_df4_nan

,NDC_NBR_v1,DCR_DRUG_LST_ID_v1,NDC_NBR,DCR_DRUG_LST_ID,INSERT_DATE,DROP_DATE
0,10001,1,10001.0,1.0,2021-05-23 00:00:00,2024-09-03 00:00:00
1,10001,2,10001.0,2.0,2021-08-09 00:00:00,2024-09-03 00:00:00
2,10001,3,10001.0,3.0,2022-03-01 00:00:00,2022-07-05 00:00:00
3,10001,4,10001.0,4.0,2020-01-20 00:00:00,2022-07-05 00:00:00
4,10001,5,10001.0,5.0,2020-11-10 00:00:00,2024-09-03 00:00:00
...,...,...,...,...,...,...
1014,10062,6,0.0,0.0,0,0
1015,10062,7,0.0,0.0,0,0
1016,10062,8,0.0,0.0,0,0
1017,10062,9,0.0,0.0,0,0
1018,10062,10,0.0,0.0,0,0

In [91]:
merge_df4_nan_fil=merge_df4_nan[merge_df4_nan["NDC_NBR"]==0]

In [92]:
merge_df4_nan_fil

,NDC_NBR_v1,DCR_DRUG_LST_ID_v1,NDC_NBR,DCR_DRUG_LST_ID,INSERT_DATE,DROP_DATE
143,10007,7,0.0,0.0,0,0
323,10013,1,0.0,0.0,0,0
1000,10061,1,0.0,0.0,0,0
1001,10061,2,0.0,0.0,0,0
1002,10061,3,0.0,0.0,0,0
1003,10061,4,0.0,0.0,0,0
1004,10061,5,0.0,0.0,0,0
1005,10061,6,0.0,0.0,0,0
1006,10061,7,0.0,0.0,0,0
1007,10061,8,0.0,0.0,0,0
1008,10061,9,0.0,0.0,0,0
1009,10062,1,0.0,0.0,0,0
1010,10062,2,0.0,0.0,0,0
1011,10062,3,0.0,0.0,0,0
1012,10062,4,0.0,0.0,0,0
1013,10062,5,0.0,0.0,0,0
1014,10062,6,0.0,0.0,0,0
1015,10062,7,0.0,0.0,0,0
1016,10062,8,0.0,0.0,0,0
1017,10062,9,0.0,0.0,0,0
1018,10062,10,0.0,0.0,0,0

In [93]:
#MEDICAL LIST IMPORT

In [94]:
MEDICAL_PRODUCT_CURRENT=pd.read_excel(r"C:\Users\hp\Downloads\InputFiles.xlsx",sheet_name="MEDICAL_PRODUCT_CURRENT")

In [95]:
MEDICAL_PRODUCT_CURRENT

,PRODUCT_SERVICE_ID,EFF_DTE,BRAND_NME,MAINTENANCE_DRUG_CDE,SPECIALTY_PHCY_IND,DRUG_SUBSTITUTION_CDE,GCN_NBR,STRENGTH_DSC,DOSAGE_FORM_CDE,MULTI_SRC_CDE,STRENGTH_MSR,END_EFF_DTE,SK_STC_CDE,SK_HICL_CDE,LABLE_TXT,MEDCO_DRUG_NBR,DEA_CDE,LONGTERM_ACUTE
0,10001,2021-09-04,CAPTOPRIL,1,NaN,G,10482,NaN,NaN,NaN,NaN,12/21/3000,1047,10280,CAPTOPRIL 50MG TABLET,NaN,NaN,Y
1,10002,2021-09-04,SUPERMAN EXTRA VITAMIN C,1,NaN,G,95272,NaN,NaN,NaN,NaN,12/21/3000,1099,10990,SUPERMAN EXTRA C CHEWABLE,NaN,NaN,Y
2,10003,2021-09-04,CLONAZEPAM,1,NaN,G,17471,NaN,NaN,NaN,NaN,12/21/3000,3014,18940,CLONAZEPAM 1MG TABLET,NaN,NaN,Y
3,10004,2021-09-04,BUPIVACAINE HCL,0,NaN,A,48050,NaN,NaN,NaN,NaN,12/21/3000,2050,26080,BUPIVACAINE 0.25% VIAL,NaN,NaN,Y
4,10005,2021-09-04,INOSITOL,1,NaN,A,19757,NaN,NaN,NaN,NaN,12/21/3000,1040,25243,INOSITOL POWDER,NaN,NaN,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,10142,2012-09-04,BUPIVACAINE HCL,1,NaN,G,94200,NaN,NaN,NaN,NaN,12/21/3000,4055,12770,OMNIPAQUE 240MG/ML INFU BTL,NaN,NaN,Y
142,10143,2012-09-04,INOSITOL,0,NaN,A,76821,NaN,NaN,NaN,NaN,12/21/3000,2099,10280,NON ASPIRIN 500MG CAPSULE,NaN,NaN,Y
143,10144,2012-09-04,NYSTATIN,0,NaN,A,98272,NaN,NaN,NaN,NaN,12/21/3000,8889,10990,NEXIUM 40MG CAPSULE,NaN,NaN,Y
144,10145,2012-09-04,CAPTOPRIL,1,NaN,A,10482,NaN,NaN,NaN,NaN,12/21/3000,1047,18940,CAPTOPRIL 50MG TABLET,NaN,NaN,Y
145,10146,2012-09-04,SUPERMAN EXTRA VITAMIN C,1,NaN,A,95272,NaN,NaN,NaN,NaN,12/21/3000,1099,26080,SUPERMAN EXTRA C CHEWABLE,NaN,NaN,Y

In [96]:
MEDICAL_PRODUCT_CURRENT_WORK_SQL=""

In [97]:
MEDICAL_PRODUCT_CURRENT_WORK_COL=["PRODUCT_SERVICE_ID",
                                  "EFF_DTE","BRAND_NME",
                                  "MAINTENANCE_DRUG_CDE",
                                  "SPECIALTY_PHCY_IND",
                                  "DRUG_SUBSTITUTION_CDE",
                                  "GCN_NBR","STRENGTH_DSC",
                                  "DOSAGE_FORM_CDE","MULTI_SRC_CDE",
                                  "STRENGTH_MSR","END_EFF_DTE",
                                  "SK_STC_CDE","SK_HICL_CDE",
                                  "LABLE_TXT","MEDCO_DRUG_NBR",
                                  "DEA_CDE","LONGTERM_ACUTE"]

In [98]:
#MEDICAL_PRODUCT_CURRENT_WORK=pd.read_sql(MEDICAL_PRODUCT_CURRENT_WORK_SQL,connection_string)
MEDICAL_PRODUCT_CURRENT.columns=MEDICAL_PRODUCT_CURRENT_WORK_COL

In [99]:
MEDICAL_PRODUCT_CURRENT.shape

(146, 18)

In [100]:
len(MEDICAL_PRODUCT_CURRENT_WORK_COL)

18

In [101]:
NDC_DCR_LIST_NEW

,NDC_NBR_v1,DCR_DRUG_LST_ID_v1,NDC_NBR,DCR_DRUG_LST_ID,INSERT_DATE,DROP_DATE
0,10001,1,0.0,0.0,0,0
1,10001,2,0.0,0.0,0,0
4,10001,5,0.0,0.0,0,0
6,10001,7,0.0,0.0,0,0
7,10001,8,0.0,0.0,0,0
...,...,...,...,...,...,...
1014,10062,6,0.0,0.0,0,0
1015,10062,7,0.0,0.0,0,0
1016,10062,8,0.0,0.0,0,0
1017,10062,9,0.0,0.0,0,0
1018,10062,10,0.0,0.0,0,0

In [102]:
#NDC_NEW_LST=NDC_DCR_LIST_NEW['NDC_NBR_v1'].to_list()

In [103]:
#mpc=MEDICAL_PRODUCT_CURRENT[MEDICAL_PRODUCT_CURRENT["PRODUCT_SERVICE_ID"].isin(NDC_NEW_LST)]
#mpc

In [104]:
#MEDICAL_PRODUCT_CURRENT.fillna(0,inplace=True)
#MEDICAL_PRODUCT_CURRENT

In [105]:
#mpc_work=MEDICAL_PRODUCT_CURRENT[MEDICAL_PRODUCT_CURRENT["PRODUCT_SERVICE_ID"]!=0]

In [106]:
#mpc_work

In [107]:
#mpc_work.PRODUCT_SERVICE_ID.unique()

In [108]:
#MEDICAL_PRODUCT_CURRENT.columns

In [109]:
#MEDICAL_PRODUCT_CURRENT['PRODUCT_SERVICE_ID'].unique()

In [110]:
MPC_WORK=MEDICAL_PRODUCT_CURRENT.merge(NDC_DCR_LIST_NEW,left_on=["PRODUCT_SERVICE_ID"],right_on=["NDC_NBR_v1"],how="left")

In [111]:
MPC_WORK

,PRODUCT_SERVICE_ID,EFF_DTE,BRAND_NME,MAINTENANCE_DRUG_CDE,SPECIALTY_PHCY_IND,DRUG_SUBSTITUTION_CDE,GCN_NBR,STRENGTH_DSC,DOSAGE_FORM_CDE,MULTI_SRC_CDE,...,LABLE_TXT,MEDCO_DRUG_NBR,DEA_CDE,LONGTERM_ACUTE,NDC_NBR_v1,DCR_DRUG_LST_ID_v1,NDC_NBR,DCR_DRUG_LST_ID,INSERT_DATE,DROP_DATE
0,10001,2021-09-04,CAPTOPRIL,1,NaN,G,10482,NaN,NaN,NaN,...,CAPTOPRIL 50MG TABLET,NaN,NaN,Y,10001.0,1.0,0.0,0.0,0,0
1,10001,2021-09-04,CAPTOPRIL,1,NaN,G,10482,NaN,NaN,NaN,...,CAPTOPRIL 50MG TABLET,NaN,NaN,Y,10001.0,2.0,0.0,0.0,0,0
2,10001,2021-09-04,CAPTOPRIL,1,NaN,G,10482,NaN,NaN,NaN,...,CAPTOPRIL 50MG TABLET,NaN,NaN,Y,10001.0,5.0,0.0,0.0,0,0
3,10001,2021-09-04,CAPTOPRIL,1,NaN,G,10482,NaN,NaN,NaN,...,CAPTOPRIL 50MG TABLET,NaN,NaN,Y,10001.0,7.0,0.0,0.0,0,0
4,10001,2021-09-04,CAPTOPRIL,1,NaN,G,10482,NaN,NaN,NaN,...,CAPTOPRIL 50MG TABLET,NaN,NaN,Y,10001.0,8.0,0.0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
963,10142,2012-09-04,BUPIVACAINE HCL,1,NaN,G,94200,NaN,NaN,NaN,...,OMNIPAQUE 240MG/ML INFU BTL,NaN,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN
964,10143,2012-09-04,INOSITOL,0,NaN,A,76821,NaN,NaN,NaN,...,NON ASPIRIN 500MG CAPSULE,NaN,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN
965,10144,2012-09-04,NYSTATIN,0,NaN,A,98272,NaN,NaN,NaN,...,NEXIUM 40MG CAPSULE,NaN,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN
966,10145,2012-09-04,CAPTOPRIL,1,NaN,A,10482,NaN,NaN,NaN,...,CAPTOPRIL 50MG TABLET,NaN,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN
967,10146,2012-09-04,SUPERMAN EXTRA VITAMIN C,1,NaN,A,95272,NaN,NaN,NaN,...,SUPERMAN EXTRA C CHEWABLE,NaN,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN

In [112]:
MPC_WORK.fillna(0,inplace=True)
MPC_WORK

,PRODUCT_SERVICE_ID,EFF_DTE,BRAND_NME,MAINTENANCE_DRUG_CDE,SPECIALTY_PHCY_IND,DRUG_SUBSTITUTION_CDE,GCN_NBR,STRENGTH_DSC,DOSAGE_FORM_CDE,MULTI_SRC_CDE,...,LABLE_TXT,MEDCO_DRUG_NBR,DEA_CDE,LONGTERM_ACUTE,NDC_NBR_v1,DCR_DRUG_LST_ID_v1,NDC_NBR,DCR_DRUG_LST_ID,INSERT_DATE,DROP_DATE
0,10001,2021-09-04,CAPTOPRIL,1,0.0,G,10482,0.0,0.0,0.0,...,CAPTOPRIL 50MG TABLET,0.0,0.0,Y,10001.0,1.0,0.0,0.0,0,0
1,10001,2021-09-04,CAPTOPRIL,1,0.0,G,10482,0.0,0.0,0.0,...,CAPTOPRIL 50MG TABLET,0.0,0.0,Y,10001.0,2.0,0.0,0.0,0,0
2,10001,2021-09-04,CAPTOPRIL,1,0.0,G,10482,0.0,0.0,0.0,...,CAPTOPRIL 50MG TABLET,0.0,0.0,Y,10001.0,5.0,0.0,0.0,0,0
3,10001,2021-09-04,CAPTOPRIL,1,0.0,G,10482,0.0,0.0,0.0,...,CAPTOPRIL 50MG TABLET,0.0,0.0,Y,10001.0,7.0,0.0,0.0,0,0
4,10001,2021-09-04,CAPTOPRIL,1,0.0,G,10482,0.0,0.0,0.0,...,CAPTOPRIL 50MG TABLET,0.0,0.0,Y,10001.0,8.0,0.0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
963,10142,2012-09-04,BUPIVACAINE HCL,1,0.0,G,94200,0.0,0.0,0.0,...,OMNIPAQUE 240MG/ML INFU BTL,0.0,0.0,Y,0.0,0.0,0.0,0.0,0,0
964,10143,2012-09-04,INOSITOL,0,0.0,A,76821,0.0,0.0,0.0,...,NON ASPIRIN 500MG CAPSULE,0.0,0.0,Y,0.0,0.0,0.0,0.0,0,0
965,10144,2012-09-04,NYSTATIN,0,0.0,A,98272,0.0,0.0,0.0,...,NEXIUM 40MG CAPSULE,0.0,0.0,Y,0.0,0.0,0.0,0.0,0,0
966,10145,2012-09-04,CAPTOPRIL,1,0.0,A,10482,0.0,0.0,0.0,...,CAPTOPRIL 50MG TABLET,0.0,0.0,Y,0.0,0.0,0.0,0.0,0,0
967,10146,2012-09-04,SUPERMAN EXTRA VITAMIN C,1,0.0,A,95272,0.0,0.0,0.0,...,SUPERMAN EXTRA C CHEWABLE,0.0,0.0,Y,0.0,0.0,0.0,0.0,0,0

In [113]:
MPC_WORK.SPECIALTY_PHCY_IND.unique()

array([0.])

In [114]:
mpc_wrk=MPC_WORK[MPC_WORK['NDC_NBR_v1']!=0]
mpc_wrk

,PRODUCT_SERVICE_ID,EFF_DTE,BRAND_NME,MAINTENANCE_DRUG_CDE,SPECIALTY_PHCY_IND,DRUG_SUBSTITUTION_CDE,GCN_NBR,STRENGTH_DSC,DOSAGE_FORM_CDE,MULTI_SRC_CDE,...,LABLE_TXT,MEDCO_DRUG_NBR,DEA_CDE,LONGTERM_ACUTE,NDC_NBR_v1,DCR_DRUG_LST_ID_v1,NDC_NBR,DCR_DRUG_LST_ID,INSERT_DATE,DROP_DATE
0,10001,2021-09-04,CAPTOPRIL,1,0.0,G,10482,0.0,0.0,0.0,...,CAPTOPRIL 50MG TABLET,0.0,0.0,Y,10001.0,1.0,0.0,0.0,0,0
1,10001,2021-09-04,CAPTOPRIL,1,0.0,G,10482,0.0,0.0,0.0,...,CAPTOPRIL 50MG TABLET,0.0,0.0,Y,10001.0,2.0,0.0,0.0,0,0
2,10001,2021-09-04,CAPTOPRIL,1,0.0,G,10482,0.0,0.0,0.0,...,CAPTOPRIL 50MG TABLET,0.0,0.0,Y,10001.0,5.0,0.0,0.0,0,0
3,10001,2021-09-04,CAPTOPRIL,1,0.0,G,10482,0.0,0.0,0.0,...,CAPTOPRIL 50MG TABLET,0.0,0.0,Y,10001.0,7.0,0.0,0.0,0,0
4,10001,2021-09-04,CAPTOPRIL,1,0.0,G,10482,0.0,0.0,0.0,...,CAPTOPRIL 50MG TABLET,0.0,0.0,Y,10001.0,8.0,0.0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
879,10062,2021-09-04,SUPERMAN EXTRA VITAMIN C,1,0.0,A,76821,0.0,0.0,0.0,...,NON ASPIRIN 500MG CAPSULE,0.0,0.0,Y,10062.0,6.0,0.0,0.0,0,0
880,10062,2021-09-04,SUPERMAN EXTRA VITAMIN C,1,0.0,A,76821,0.0,0.0,0.0,...,NON ASPIRIN 500MG CAPSULE,0.0,0.0,Y,10062.0,7.0,0.0,0.0,0,0
881,10062,2021-09-04,SUPERMAN EXTRA VITAMIN C,1,0.0,A,76821,0.0,0.0,0.0,...,NON ASPIRIN 500MG CAPSULE,0.0,0.0,Y,10062.0,8.0,0.0,0.0,0,0
882,10062,2021-09-04,SUPERMAN EXTRA VITAMIN C,1,0.0,A,76821,0.0,0.0,0.0,...,NON ASPIRIN 500MG CAPSULE,0.0,0.0,Y,10062.0,9.0,0.0,0.0,0,0
883,10062,2021-09-04,SUPERMAN EXTRA VITAMIN C,1,0.0,A,76821,0.0,0.0,0.0,...,NON ASPIRIN 500MG CAPSULE,0.0,0.0,Y,10062.0,10.0,0.0,0.0,0,0

In [115]:
mpc_wrk['PRODUCT_SERVICE_ID'].unique()

array([10001, 10002, 10003, 10004, 10005, 10006, 10007, 10008, 10009,
       10010, 10011, 10012, 10013, 10014, 10015, 10016, 10017, 10018,
       10019, 10020, 10021, 10022, 10023, 10024, 10025, 10061, 10062],
      dtype=int64)

In [116]:
#mpc_wrk.dtypes

In [117]:
# IMPORT OTH TABLE 11111111111111111

In [118]:
OTH_TABLE=pd.read_excel(r"C:\Users\hp\Downloads\InputFiles_UPDATED.xlsx",sheet_name="HIST_PHARMACY_CLAIM_OTH_ACC")

In [119]:
OTH_TABLE

,ADJUD_GROUP_OPERATIONAL_ID,CLIENT_MEMBERSHIP_ID,PERSON_NBR,PATIENT_ID,CARRIER_OPERATIONAL_ID,CONTRACT_OPERATIONAL_ID,PHCY_CLAIM_ID,PHCY_RX_NBR,FILL_DAYS_SUPPLY_QTY,TRANSACTION_TYPE_CDE,...,UMBRELLA_PRODUCT_ID,UMBRELLA_PRODUCT_SRC_CDE,MAIL_PHCY_FILL_NBR,PHCY_ACCOUNT_NBR,DEA_CDE,fill_phcy_provider_id,fill_phcy_provider_src_cde,prescriber_provider_id,prescriber_provider_src_cde,Service_msg_product_id
0,VERN045,170372685716,NaN,30.714.147,2368,40920,841.799.287.880.787.701,NaN,30,31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,UFTWFINSERVICE,117364036,NaN,131.792.134,4370,UFTWFINS,100.703.936.212.167.210,NaN,5,31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,VERS007,116700403601,NaN,20.118.415,2368,26629,13.308.256.336.582.211,NaN,25,31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,UFTWFINSERVICE,128733635,NaN,16.768.410,4370,UFTWFINS,357.973.606.969.067.210,NaN,3,31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,UFTWFINSERVICE,753660753,NaN,16.822.938,4370,UFTWFINS,147.823.636.279.067.210,NaN,7,31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218,BSX3EXXXXXXX,527356605,NaN,268.242.253,2368,BPOS3834,482.888.338.024.532.000,NaN,16,39,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
219,BSX3EXXXXXXX,527356605,NaN,268.242.253,4370,40920,318.195.621.277.260.000,NaN,17,39,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
220,VERN045,769183805,NaN,273.129.364,2368,UFTWFINS,889.735.264.579.235.901,NaN,36,39,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
221,UFTWFINSERVICE,667747966,NaN,268.242.253,4370,26629,262.130.265.501.677.111,NaN,45,39,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
222,VERS007,667747966,NaN,268.242.253,4370,UFTWFINS,357.973.606.969.067.210,NaN,54,39,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [120]:
#OTH_TABLE.TRANSACTION_TYPE_CDE.unique()

In [121]:
#OTH_TABLE.PHCY_PRODUCT_SERVICE_ID.unique()

In [122]:
#OTH_TABLE.dtypes

In [123]:
#HIST_PHARMACY_CLAIM_OTH_ACC_SQL=""

In [124]:
#HIST_PHARMACY_CLAIM_OTH_ACC_COL=["ADJUD_GROUP_OPERATIONAL_ID",
#                                "CLIENT_MEMBERSHIP_ID","PERSON_NBR",
#                                "PATIENT_ID","CARRIER_OPERATIONAL_ID",
#                                "CONTRACT_OPERATIONAL_ID",
#                                 "PHCY_PRODUCT_SERVICE_ID",
#                                "PHCY_CLAIM_ID","PHCY_RX_NBR",
#                                "FILL_DAYS_SUPPLY_QTY","TRANSACTION_TYPE_CDE",
#                                "MAIL_RETAIL_CDE",
#                                "SERVICED_DTE","COPY_COST_TIER_SEQ",
#                                "FILL_DRUG_FORMULARY_IND",
#                                "MAIL_SERVICE_RX_SRC_CDE","MAIL_SERVICE_RX_NBR",
#                                "COPY_PRICING_SUB_OPTION_NBR",
#                                "CLAIMS_SUBMISSION_TYPE_CDE",
#                                "INTERVENTION_RULE_ID","CLIENT_GUARANTEE_CDE",
#                                "MAIL_PRODUCT_SERVICE_ID",
#                                "UMBRELLA_PRODUCT_ID","UMBRELLA_PRODUCT_SRC_CDE",
#                                "ELIG_GROUP_OPERATIONAL_ID","MAIL_PHCY_CDE",
#                                "MAIL_PHCY_FILL_NBR",
#                                "PHCY_ACCOUNT_NBR","DEA_CDE","fill_phcy_provider_id",
#                                "fill_phcy_provider_src_cde","prescriber_provider_id",
#                                "prescriber_provider_src_cde","Service_msg_product_id",                               
#                                "Service_msg_product_src_cde","Billing_DAW_cde", 
#                                "Bil_product_service_id"]

In [125]:
# OTH_TABLE.columns=HIST_PHARMACY_CLAIM_OTH_ACC_COL

In [126]:
 #OTH_TABLE

In [127]:
# OTH_TABLE.shape

In [128]:
 #len(HIST_PHARMACY_CLAIM_OTH_ACC_COL)

In [129]:
OTH_TABLE.rename(columns = {"PHCY_PRODUCT_SERVICE_ID" : "PRODUCT_SERVICE_ID"}, 
          inplace = True)

In [130]:
OTH_TABLE.dtypes

ADJUD_GROUP_OPERATIONAL_ID             object
CLIENT_MEMBERSHIP_ID                    int64
PERSON_NBR                            float64
PATIENT_ID                             object
CARRIER_OPERATIONAL_ID                  int64
CONTRACT_OPERATIONAL_ID                object
PHCY_CLAIM_ID                          object
PHCY_RX_NBR                           float64
FILL_DAYS_SUPPLY_QTY                    int64
TRANSACTION_TYPE_CDE                    int64
MAIL_RETAIL_CDE                        object
SERVICED_DTE                   datetime64[ns]
COPAY_COST_TIER_SEQ                    object
FILL_DRUG_FORMULARY_IND                object
MAIL_SERVICE_RX_SRC_CDE               float64
MAIL_SERVICE_RX_NBR                     int64
PRODUCT_SERVICE_ID                      int64
 ELIG_GROUP_OPERATIONAL_ID             object
Billing_DAW_cde                         int64
Bill_product_service_id               float64
EXTERNAL_SRC_IND                       object
RX_COMPOUND_IND                        object
COPY_PRICING_SUB_OPTION_NBR           float64
CLAIMS_SUBMISSION_TYPE_CDE            float64
INTERVENTION_RULE_ID                  float64
CLIENT_GUARANTEE_CDE                  float64
MAIL_PRODUCT_SERVICE_ID               float64
UMBRELLA_PRODUCT_ID                   float64
UMBRELLA_PRODUCT_SRC_CDE              float64
MAIL_PHCY_FILL_NBR                    float64
PHCY_ACCOUNT_NBR                      float64
DEA_CDE                               float64
fill_phcy_provider_id                 float64
fill_phcy_provider_src_cde            float64
prescriber_provider_id                float64
prescriber_provider_src_cde           float64
Service_msg_product_id                float64
dtype: object

In [131]:
#OTH_TABLE["PRODUCT_SERVICE_ID"]=OTH_TABLE["PRODUCT_SERVICE_ID"].astype("int64")

In [132]:
#OTH_TABLE.columns

In [133]:
oth_mpc_merge=OTH_TABLE.merge(mpc_wrk,on="PRODUCT_SERVICE_ID",how="inner")

In [134]:
oth_mpc_merge["WIDGET_FLAG"]=""

In [135]:
oth_mpc_merge.head()

,ADJUD_GROUP_OPERATIONAL_ID,CLIENT_MEMBERSHIP_ID,PERSON_NBR,PATIENT_ID,CARRIER_OPERATIONAL_ID,CONTRACT_OPERATIONAL_ID,PHCY_CLAIM_ID,PHCY_RX_NBR,FILL_DAYS_SUPPLY_QTY,TRANSACTION_TYPE_CDE,...,MEDCO_DRUG_NBR,DEA_CDE_y,LONGTERM_ACUTE,NDC_NBR_v1,DCR_DRUG_LST_ID_v1,NDC_NBR,DCR_DRUG_LST_ID,INSERT_DATE,DROP_DATE,WIDGET_FLAG
0,VERN045,170372685716,NaN,30.714.147,2368,40920,841.799.287.880.787.701,NaN,30,31,...,0.0,0.0,Y,10001.0,1.0,0.0,0.0,0,0,
1,VERN045,170372685716,NaN,30.714.147,2368,40920,841.799.287.880.787.701,NaN,30,31,...,0.0,0.0,Y,10001.0,2.0,0.0,0.0,0,0,
2,VERN045,170372685716,NaN,30.714.147,2368,40920,841.799.287.880.787.701,NaN,30,31,...,0.0,0.0,Y,10001.0,5.0,0.0,0.0,0,0,
3,VERN045,170372685716,NaN,30.714.147,2368,40920,841.799.287.880.787.701,NaN,30,31,...,0.0,0.0,Y,10001.0,7.0,0.0,0.0,0,0,
4,VERN045,170372685716,NaN,30.714.147,2368,40920,841.799.287.880.787.701,NaN,30,31,...,0.0,0.0,Y,10001.0,8.0,0.0,0.0,0,0,

In [136]:
oth_mpc_merge.LONGTERM_ACUTE.unique()

array(['Y'], dtype=object)

In [137]:
oth_mpc_merge["WIDGET_FLAG"]=np.where(oth_mpc_merge["LONGTERM_ACUTE"]=="Y","N",oth_mpc_merge["WIDGET_FLAG"])

In [138]:
oth_mpc_merge

,ADJUD_GROUP_OPERATIONAL_ID,CLIENT_MEMBERSHIP_ID,PERSON_NBR,PATIENT_ID,CARRIER_OPERATIONAL_ID,CONTRACT_OPERATIONAL_ID,PHCY_CLAIM_ID,PHCY_RX_NBR,FILL_DAYS_SUPPLY_QTY,TRANSACTION_TYPE_CDE,...,MEDCO_DRUG_NBR,DEA_CDE_y,LONGTERM_ACUTE,NDC_NBR_v1,DCR_DRUG_LST_ID_v1,NDC_NBR,DCR_DRUG_LST_ID,INSERT_DATE,DROP_DATE,WIDGET_FLAG
0,VERN045,170372685716,NaN,30.714.147,2368,40920,841.799.287.880.787.701,NaN,30,31,...,0.0,0.0,Y,10001.0,1.0,0.0,0.0,0,0,N
1,VERN045,170372685716,NaN,30.714.147,2368,40920,841.799.287.880.787.701,NaN,30,31,...,0.0,0.0,Y,10001.0,2.0,0.0,0.0,0,0,N
2,VERN045,170372685716,NaN,30.714.147,2368,40920,841.799.287.880.787.701,NaN,30,31,...,0.0,0.0,Y,10001.0,5.0,0.0,0.0,0,0,N
3,VERN045,170372685716,NaN,30.714.147,2368,40920,841.799.287.880.787.701,NaN,30,31,...,0.0,0.0,Y,10001.0,7.0,0.0,0.0,0,0,N
4,VERN045,170372685716,NaN,30.714.147,2368,40920,841.799.287.880.787.701,NaN,30,31,...,0.0,0.0,Y,10001.0,8.0,0.0,0.0,0,0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
844,UFTWFINSERVICE,117364036,NaN,131.792.134,3834,UFTWFINS,100.703.936.212.167.210,NaN,7,36,...,0.0,0.0,Y,10062.0,6.0,0.0,0.0,0,0,N
845,UFTWFINSERVICE,117364036,NaN,131.792.134,3834,UFTWFINS,100.703.936.212.167.210,NaN,7,36,...,0.0,0.0,Y,10062.0,7.0,0.0,0.0,0,0,N
846,UFTWFINSERVICE,117364036,NaN,131.792.134,3834,UFTWFINS,100.703.936.212.167.210,NaN,7,36,...,0.0,0.0,Y,10062.0,8.0,0.0,0.0,0,0,N
847,UFTWFINSERVICE,117364036,NaN,131.792.134,3834,UFTWFINS,100.703.936.212.167.210,NaN,7,36,...,0.0,0.0,Y,10062.0,9.0,0.0,0.0,0,0,N
848,UFTWFINSERVICE,117364036,NaN,131.792.134,3834,UFTWFINS,100.703.936.212.167.210,NaN,7,36,...,0.0,0.0,Y,10062.0,10.0,0.0,0.0,0,0,N

In [139]:
oth_mpc_merge.TRANSACTION_TYPE_CDE.unique()

array([31, 36], dtype=int64)

In [140]:
#oth_mpc_merge.columns

In [141]:
#oth_mpc_merge.dtypes

In [142]:
#oth_mpc_merge.FILL_DAYS_SUPPLY_QTY.unique()

In [143]:
from datetime import date
from datetime import timedelta

In [144]:
new_date=newdf["dates"][0]-timedelta(days = 180)
new_date

Timestamp('2023-06-04 00:00:00')

In [145]:
oth_mpc=oth_mpc_merge[oth_mpc_merge["TRANSACTION_TYPE_CDE"].isin([31,36])
                # &(oth_mpc_merge["EXTERNAL_SRC_IND"] == "N")
                 #&(oth_mpc_merge["SERVICED_DTE"]>new_date)
                 #&(oth_mpc_merge["RX_COMPOUND_IND"]!="Y")
                      
                 &(((oth_mpc_merge["FILL_DAYS_SUPPLY_QTY"]>=14)
                    
                &((oth_mpc_merge["MAINTENANCE_DRUG_CDE"] == 1)
                   |(oth_mpc_merge["SPECIALTY_PHCY_IND"] ==1)))
                   
                 |(oth_mpc_merge["LONGTERM_ACUTE"]=="Y"))]

In [146]:
oth_mpc.TRANSACTION_TYPE_CDE.unique()

array([31, 36], dtype=int64)

In [147]:
oth_mpc.EXTERNAL_SRC_IND.unique()

array(['N', 'Y'], dtype=object)

In [148]:
oth_mpc.SERVICED_DTE.unique()

array(['2023-12-31T00:00:00.000000000', '2024-01-01T00:00:00.000000000',
       '2023-01-09T00:00:00.000000000', '2023-08-26T00:00:00.000000000',
       '2023-01-01T00:00:00.000000000', '2024-01-10T00:00:00.000000000',
       '2024-01-19T00:00:00.000000000', '2024-01-23T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [149]:
oth_mpc.RX_COMPOUND_IND.unique()

array(['N', 'Y'], dtype=object)

In [150]:
oth_mpc.MAINTENANCE_DRUG_CDE.unique()

array([1, 0], dtype=int64)

In [151]:
oth_mpc.FILL_DAYS_SUPPLY_QTY.unique()

array([30,  5, 25,  3,  7, 90, 31, 28, 16, 17, 36, 45, 54, 12, 34, 20, 18],
      dtype=int64)

In [152]:
oth_mpc.LONGTERM_ACUTE.unique()

array(['Y'], dtype=object)

In [153]:
oth_mpc.SPECIALTY_PHCY_IND.unique()

array([0.])

In [154]:
NDC_CLAIMPULL_WRK1=oth_mpc

In [155]:
NDC_CLAIMPULL_WRK2=NDC_CLAIMPULL_WRK1.fillna(0)

In [156]:
NDC_CLAIMPULL_WRK_OTH=NDC_CLAIMPULL_WRK2[NDC_CLAIMPULL_WRK2["NDC_NBR_v1"]!=0]

In [157]:
NDC_CLAIMPULL_WRK_OTH

,ADJUD_GROUP_OPERATIONAL_ID,CLIENT_MEMBERSHIP_ID,PERSON_NBR,PATIENT_ID,CARRIER_OPERATIONAL_ID,CONTRACT_OPERATIONAL_ID,PHCY_CLAIM_ID,PHCY_RX_NBR,FILL_DAYS_SUPPLY_QTY,TRANSACTION_TYPE_CDE,...,MEDCO_DRUG_NBR,DEA_CDE_y,LONGTERM_ACUTE,NDC_NBR_v1,DCR_DRUG_LST_ID_v1,NDC_NBR,DCR_DRUG_LST_ID,INSERT_DATE,DROP_DATE,WIDGET_FLAG
0,VERN045,170372685716,0.0,30.714.147,2368,40920,841.799.287.880.787.701,0.0,30,31,...,0.0,0.0,Y,10001.0,1.0,0.0,0.0,0,0,N
1,VERN045,170372685716,0.0,30.714.147,2368,40920,841.799.287.880.787.701,0.0,30,31,...,0.0,0.0,Y,10001.0,2.0,0.0,0.0,0,0,N
2,VERN045,170372685716,0.0,30.714.147,2368,40920,841.799.287.880.787.701,0.0,30,31,...,0.0,0.0,Y,10001.0,5.0,0.0,0.0,0,0,N
3,VERN045,170372685716,0.0,30.714.147,2368,40920,841.799.287.880.787.701,0.0,30,31,...,0.0,0.0,Y,10001.0,7.0,0.0,0.0,0,0,N
4,VERN045,170372685716,0.0,30.714.147,2368,40920,841.799.287.880.787.701,0.0,30,31,...,0.0,0.0,Y,10001.0,8.0,0.0,0.0,0,0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
844,UFTWFINSERVICE,117364036,0.0,131.792.134,3834,UFTWFINS,100.703.936.212.167.210,0.0,7,36,...,0.0,0.0,Y,10062.0,6.0,0.0,0.0,0,0,N
845,UFTWFINSERVICE,117364036,0.0,131.792.134,3834,UFTWFINS,100.703.936.212.167.210,0.0,7,36,...,0.0,0.0,Y,10062.0,7.0,0.0,0.0,0,0,N
846,UFTWFINSERVICE,117364036,0.0,131.792.134,3834,UFTWFINS,100.703.936.212.167.210,0.0,7,36,...,0.0,0.0,Y,10062.0,8.0,0.0,0.0,0,0,N
847,UFTWFINSERVICE,117364036,0.0,131.792.134,3834,UFTWFINS,100.703.936.212.167.210,0.0,7,36,...,0.0,0.0,Y,10062.0,9.0,0.0,0.0,0,0,N
848,UFTWFINSERVICE,117364036,0.0,131.792.134,3834,UFTWFINS,100.703.936.212.167.210,0.0,7,36,...,0.0,0.0,Y,10062.0,10.0,0.0,0.0,0,0,N

In [158]:
NDC_CLAIMPULL_WRK_OTH.NDC_NBR_v1.unique()

array([10001., 10002., 10003., 10004., 10005., 10006., 10007., 10008.,
       10009., 10010., 10011., 10012., 10013., 10014., 10015., 10016.,
       10017., 10018., 10019., 10020., 10021., 10022., 10023., 10024.,
       10025., 10061., 10062.])

In [159]:
##################################

In [160]:
# IMPORT DOD TABLE 222222222222222

In [161]:
DOD_TABLE=pd.read_excel(r"C:\Users\hp\Downloads\InputFiles_UPDATED.xlsx",sheet_name="DOD_table")

In [162]:
DOD_TABLE

,ADJUD_GROUP_OPERATIONAL_ID,CLIENT_MEMBERSHIP_ID,PERSON_NBR,PATIENT_ID,CARRIER_OPERATIONAL_ID,CONTRACT_OPERATIONAL_ID,PHCY_PRODUCT_SERVICE_ID,PHCY_CLAIM_ID,PHCY_RX_NBR,FILL_DAYS_SUPPLY_QTY,...,MAIL_PRODUCT_SERVICE_ID,UMBRELLA_PRODUCT_ID,UMBRELLA_PRODUCT_SRC_CDE,MAIL_PHCY_FILL_NBR,PHCY_ACCOUNT_NBR,DEA_CDE,fill_phcy_provider_id,fill_phcy_provider_src_cde,prescriber_provider_id,prescriber_provider_src_cde
0,TXS000000287353,284208601,1,558.212.241,DODA,EXD08831,10001,250.033.860.343.221.040,121905,30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,TXS000000287351,603035600,1,558.212.486,DODA,EXD08833,10002,950.813.860.643.221.040,513014,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,TXS000000287353,163012102,1,558.212.108,DODA,EXD08831,10003,916.303.090.643.221.040,4120190,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,TXS000000287350,910656100,1,558.231.583,DODA,EXD08833,10004,597.553.330.043.221.040,8093814,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,TXS000000287350,888543900,1,558.212.781,DODA,EXD08833,10005,962.993.330.043.221.040,159427,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,TXS000000287353,65417302,1,558.212.624,DODA,EXD08833,10208,859.253.920.043.221.040,8949757,25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
208,TXS000000287351,729398600,1,558.212.813,DODA,EXD08831,10209,602.513.010.743.221.040,407000,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
209,TXS000000287351,924501500,1,558.212.805,DODA,EXD08833,10210,457.773.860.333.221.040,1931215,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
210,TXS000000287350,914439101,1,558.212.813,DODA,EXD08833,10211,602.513.010.743.221.040,407000,25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
211,TXS000000287354,729398600,1,558.212.805,DODA,EXD08833,10212,457.773.860.333.221.040,1931215,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [163]:
DOD_TABLE.columns

Index(['ADJUD_GROUP_OPERATIONAL_ID', 'CLIENT_MEMBERSHIP_ID', 'PERSON_NBR',
       'PATIENT_ID', 'CARRIER_OPERATIONAL_ID', 'CONTRACT_OPERATIONAL_ID',
       'PHCY_PRODUCT_SERVICE_ID', 'PHCY_CLAIM_ID', 'PHCY_RX_NBR',
       'FILL_DAYS_SUPPLY_QTY', 'TRANSACTION_TYPE_CDE', 'MAIL_RETAIL_CDE',
       'SERVICED_DTE', 'COPAY_COST_TIER_SEQ', 'FILL_DRUG_FORMULARY_IND',
       'MAIL_SERVICE_RX_SRC_CDE', 'MAIL_SERVICE_RX_NBR',
       ' ELIG_GROUP_OPERATIONAL_ID', 'Billing_DAW_cde',
       'Bill_product_service_id', 'EXTERNAL_SRC_IND', 'RX_COMPOUND_IND',
       'MEDIA_TYPE_CDE', 'COPY_PRICING_SUB_OPTION_NBR',
       'CLAIMS_SUBMISSION_TYPE_CDE', 'INTERVENTION_RULE_ID',
       'CLIENT_GUARANTEE_CDE', 'MAIL_PRODUCT_SERVICE_ID',
       'UMBRELLA_PRODUCT_ID', 'UMBRELLA_PRODUCT_SRC_CDE', 'MAIL_PHCY_FILL_NBR',
       'PHCY_ACCOUNT_NBR', 'DEA_CDE', 'fill_phcy_provider_id',
       'fill_phcy_provider_src_cde', 'prescriber_provider_id',
       'prescriber_provider_src_cde'],
      dtype='object')

In [164]:
DOD_TABLE.dtypes

ADJUD_GROUP_OPERATIONAL_ID             object
CLIENT_MEMBERSHIP_ID                    int64
PERSON_NBR                              int64
PATIENT_ID                             object
CARRIER_OPERATIONAL_ID                 object
CONTRACT_OPERATIONAL_ID                object
PHCY_PRODUCT_SERVICE_ID                 int64
PHCY_CLAIM_ID                          object
PHCY_RX_NBR                             int64
FILL_DAYS_SUPPLY_QTY                    int64
TRANSACTION_TYPE_CDE                    int64
MAIL_RETAIL_CDE                        object
SERVICED_DTE                   datetime64[ns]
COPAY_COST_TIER_SEQ                     int64
FILL_DRUG_FORMULARY_IND               float64
MAIL_SERVICE_RX_SRC_CDE                 int64
MAIL_SERVICE_RX_NBR                   float64
 ELIG_GROUP_OPERATIONAL_ID             object
Billing_DAW_cde                         int64
Bill_product_service_id                 int64
EXTERNAL_SRC_IND                       object
RX_COMPOUND_IND                        object
MEDIA_TYPE_CDE                         object
COPY_PRICING_SUB_OPTION_NBR           float64
CLAIMS_SUBMISSION_TYPE_CDE            float64
INTERVENTION_RULE_ID                  float64
CLIENT_GUARANTEE_CDE                  float64
MAIL_PRODUCT_SERVICE_ID               float64
UMBRELLA_PRODUCT_ID                   float64
UMBRELLA_PRODUCT_SRC_CDE              float64
MAIL_PHCY_FILL_NBR                    float64
PHCY_ACCOUNT_NBR                      float64
DEA_CDE                               float64
fill_phcy_provider_id                 float64
fill_phcy_provider_src_cde            float64
prescriber_provider_id                float64
prescriber_provider_src_cde           float64
dtype: object

In [165]:
DOD_TABLE.MEDIA_TYPE_CDE.unique()

array([3, 4, 9, 'T', 5], dtype=object)

In [166]:
#HIST_PHARMACY_CLAIM_DOD_ACC_SQL=""

In [167]:
#HIST_PHARMACY_CLAIM_DOD_ACC_COL=["ADJUD_GROUP_OPERATIONAL_ID",
                               # "CLIENT_MEMBERSHIP_ID","PERSON_NBR",
                                #"PATIENT_ID","CARRIER_OPERATIONAL_ID",
                                #"CONTRACT_OPERATIONAL_ID","PHCY_PRODUCT_SERVICE_ID",
                                #"PHCY_CLAIM_ID","PHCY_RX_NBR","FILL_DAYS_SUPPLY_QTY",
                                #"TRANSACTION_TYPE_CDE","MAIL_RETAIL_CDE",
                                #"SERVICED_DTE","COPAY_COST_TIER_SEQ",
                                #"FILL_DRUG_FORMULARY_IND","MAIL_SERVICE_RX_SRC_CDE",
                                #"MAIL_SERVICE_RX_NBR","COPY_PRICING_SUB_OPTION_NBR",
                                #"CLAIMS_SUBMISSION_TYPE_CDE","INTERVENTION_RULE_ID",
                                #"CLIENT_GUARANTEE_CDE","MAIL_PRODUCT_SERVICE_ID",
                                #"UMBRELLA_PRODUCT_ID","UMBRELLA_PRODUCT_SRC_CDE",
                                # "ELIG_GROUP_OPERATIONAL_ID",
                                #"MAIL_PHCY_CDE","MAIL_PHCY_FILL_NBR",
                                #"PHCY_ACCOUNT_NBR","DEA_CDE","fill_phcy_provider_id",
                                #"fill_phcy_provider_src_cde","prescriber_provider_id",
                                #"prescriber_provider_src_cde","Service_msg_product_id",
                                #"Service_msg_product_src_cde","Billing_DAW_cde","Bil_product_service_id"]

In [168]:
#DOD_TABLE.columns=HIST_PHARMACY_CLAIM_DOD_ACC_COL

In [169]:
#DOD_TABLE.shape

In [170]:
#len(HIST_PHARMACY_CLAIM_DOD_ACC_COL)

In [171]:
DOD_TABLE.rename(columns = {"PHCY_PRODUCT_SERVICE_ID" : "PRODUCT_SERVICE_ID"}, 
          inplace = True)

In [172]:
DOD_TABLE.dtypes

ADJUD_GROUP_OPERATIONAL_ID             object
CLIENT_MEMBERSHIP_ID                    int64
PERSON_NBR                              int64
PATIENT_ID                             object
CARRIER_OPERATIONAL_ID                 object
CONTRACT_OPERATIONAL_ID                object
PRODUCT_SERVICE_ID                      int64
PHCY_CLAIM_ID                          object
PHCY_RX_NBR                             int64
FILL_DAYS_SUPPLY_QTY                    int64
TRANSACTION_TYPE_CDE                    int64
MAIL_RETAIL_CDE                        object
SERVICED_DTE                   datetime64[ns]
COPAY_COST_TIER_SEQ                     int64
FILL_DRUG_FORMULARY_IND               float64
MAIL_SERVICE_RX_SRC_CDE                 int64
MAIL_SERVICE_RX_NBR                   float64
 ELIG_GROUP_OPERATIONAL_ID             object
Billing_DAW_cde                         int64
Bill_product_service_id                 int64
EXTERNAL_SRC_IND                       object
RX_COMPOUND_IND                        object
MEDIA_TYPE_CDE                         object
COPY_PRICING_SUB_OPTION_NBR           float64
CLAIMS_SUBMISSION_TYPE_CDE            float64
INTERVENTION_RULE_ID                  float64
CLIENT_GUARANTEE_CDE                  float64
MAIL_PRODUCT_SERVICE_ID               float64
UMBRELLA_PRODUCT_ID                   float64
UMBRELLA_PRODUCT_SRC_CDE              float64
MAIL_PHCY_FILL_NBR                    float64
PHCY_ACCOUNT_NBR                      float64
DEA_CDE                               float64
fill_phcy_provider_id                 float64
fill_phcy_provider_src_cde            float64
prescriber_provider_id                float64
prescriber_provider_src_cde           float64
dtype: object

In [173]:
############# IMPORT DOD SUPPLEMENT TABLE ############

In [174]:
DOD_SUPPL_TABLE=pd.read_excel(r"C:\Users\hp\Downloads\InputFiles_UPDATED.xlsx",sheet_name="DOD_SUPPLEMENT")

In [175]:
DOD_SUPPL_TABLE

      PATIENT_ID            PHCY_CLAIM_ID MILITARY_FACIL_TYPE_CDE
0    558.212.241  250.033.860.343.221.040                       A
1    558.212.486  950.813.860.643.221.040                       A
2    558.212.108  916.303.090.643.221.040                       A
3    558.231.583  597.553.330.043.221.040                       A
4    558.212.781  962.993.330.043.221.040                       A
..           ...                      ...                     ...
238  558.212.108  859.253.920.043.221.040                       A
239  558.231.583  602.513.010.743.221.040                       A
240  558.212.781  457.773.860.333.221.040                       A
241  558.212.718  602.513.010.743.221.040                       A
242  558.211.809  457.773.860.333.221.040                       A

[243 rows x 3 columns]

In [176]:
DOD_SUPPL_TABLE.head()

    PATIENT_ID            PHCY_CLAIM_ID MILITARY_FACIL_TYPE_CDE
0  558.212.241  250.033.860.343.221.040                       A
1  558.212.486  950.813.860.643.221.040                       A
2  558.212.108  916.303.090.643.221.040                       A
3  558.231.583  597.553.330.043.221.040                       A
4  558.212.781  962.993.330.043.221.040                       A

In [177]:
DOD_SUPPL_TABLE.tail()

      PATIENT_ID            PHCY_CLAIM_ID MILITARY_FACIL_TYPE_CDE
238  558.212.108  859.253.920.043.221.040                       A
239  558.231.583  602.513.010.743.221.040                       A
240  558.212.781  457.773.860.333.221.040                       A
241  558.212.718  602.513.010.743.221.040                       A
242  558.211.809  457.773.860.333.221.040                       A

In [178]:
dod_suppl_mpc_merge=DOD_TABLE.merge(mpc_wrk,how="inner",on="PRODUCT_SERVICE_ID").merge(DOD_SUPPL_TABLE,how="inner",on=["PATIENT_ID","PHCY_CLAIM_ID"])

In [179]:
dod_suppl_mpc_merge

,ADJUD_GROUP_OPERATIONAL_ID,CLIENT_MEMBERSHIP_ID,PERSON_NBR,PATIENT_ID,CARRIER_OPERATIONAL_ID,CONTRACT_OPERATIONAL_ID,PRODUCT_SERVICE_ID,PHCY_CLAIM_ID,PHCY_RX_NBR,FILL_DAYS_SUPPLY_QTY,...,MEDCO_DRUG_NBR,DEA_CDE_y,LONGTERM_ACUTE,NDC_NBR_v1,DCR_DRUG_LST_ID_v1,NDC_NBR,DCR_DRUG_LST_ID,INSERT_DATE,DROP_DATE,MILITARY_FACIL_TYPE_CDE
0,TXS000000287353,284208601,1,558.212.241,DODA,EXD08831,10001,250.033.860.343.221.040,121905,30,...,0.0,0.0,Y,10001.0,1.0,0.0,0.0,0,0,A
1,TXS000000287353,284208601,1,558.212.241,DODA,EXD08831,10001,250.033.860.343.221.040,121905,30,...,0.0,0.0,Y,10001.0,1.0,0.0,0.0,0,0,A
2,TXS000000287353,284208601,1,558.212.241,DODA,EXD08831,10001,250.033.860.343.221.040,121905,30,...,0.0,0.0,Y,10001.0,1.0,0.0,0.0,0,0,A
3,TXS000000287353,284208601,1,558.212.241,DODA,EXD08831,10001,250.033.860.343.221.040,121905,30,...,0.0,0.0,Y,10001.0,1.0,0.0,0.0,0,0,A
4,TXS000000287353,284208601,1,558.212.241,DODA,EXD08831,10001,250.033.860.343.221.040,121905,30,...,0.0,0.0,Y,10001.0,1.0,0.0,0.0,0,0,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17951,TXS000000287354,914439101,1,558.212.805,DODA,EXD08831,10020,457.773.860.333.221.040,1931215,54,...,0.0,0.0,Y,10020.0,41.0,0.0,0.0,0,0,A
17952,TXS000000287354,914439101,1,558.212.805,DODA,EXD08831,10020,457.773.860.333.221.040,1931215,54,...,0.0,0.0,Y,10020.0,41.0,0.0,0.0,0,0,A
17953,TXS000000287354,914439101,1,558.212.805,DODA,EXD08831,10020,457.773.860.333.221.040,1931215,54,...,0.0,0.0,Y,10020.0,41.0,0.0,0.0,0,0,B
17954,TXS000000287354,914439101,1,558.212.805,DODA,EXD08831,10020,457.773.860.333.221.040,1931215,54,...,0.0,0.0,Y,10020.0,41.0,0.0,0.0,0,0,A
17955,TXS000000287354,914439101,1,558.212.805,DODA,EXD08831,10020,457.773.860.333.221.040,1931215,54,...,0.0,0.0,Y,10020.0,41.0,0.0,0.0,0,0,A

In [180]:
dod_suppl_mpc_merge.columns

Index(['ADJUD_GROUP_OPERATIONAL_ID', 'CLIENT_MEMBERSHIP_ID', 'PERSON_NBR',
       'PATIENT_ID', 'CARRIER_OPERATIONAL_ID', 'CONTRACT_OPERATIONAL_ID',
       'PRODUCT_SERVICE_ID', 'PHCY_CLAIM_ID', 'PHCY_RX_NBR',
       'FILL_DAYS_SUPPLY_QTY', 'TRANSACTION_TYPE_CDE', 'MAIL_RETAIL_CDE',
       'SERVICED_DTE', 'COPAY_COST_TIER_SEQ', 'FILL_DRUG_FORMULARY_IND',
       'MAIL_SERVICE_RX_SRC_CDE', 'MAIL_SERVICE_RX_NBR',
       ' ELIG_GROUP_OPERATIONAL_ID', 'Billing_DAW_cde',
       'Bill_product_service_id', 'EXTERNAL_SRC_IND', 'RX_COMPOUND_IND',
       'MEDIA_TYPE_CDE', 'COPY_PRICING_SUB_OPTION_NBR',
       'CLAIMS_SUBMISSION_TYPE_CDE', 'INTERVENTION_RULE_ID',
       'CLIENT_GUARANTEE_CDE', 'MAIL_PRODUCT_SERVICE_ID',
       'UMBRELLA_PRODUCT_ID', 'UMBRELLA_PRODUCT_SRC_CDE', 'MAIL_PHCY_FILL_NBR',
       'PHCY_ACCOUNT_NBR', 'DEA_CDE_x', 'fill_phcy_provider_id',
       'fill_phcy_provider_src_cde', 'prescriber_provider_id',
       'prescriber_provider_src_cde', 'EFF_DTE', 'BRAND_NME',
       'MAINTENANCE_DRUG_CDE', 'SPECIALTY_PHCY_IND', 'DRUG_SUBSTITUTION_CDE',
       'GCN_NBR', 'STRENGTH_DSC', 'DOSAGE_FORM_CDE', 'MULTI_SRC_CDE',
       'STRENGTH_MSR', 'END_EFF_DTE', 'SK_STC_CDE', 'SK_HICL_CDE', 'LABLE_TXT',
       'MEDCO_DRUG_NBR', 'DEA_CDE_y', 'LONGTERM_ACUTE', 'NDC_NBR_v1',
       'DCR_DRUG_LST_ID_v1', 'NDC_NBR', 'DCR_DRUG_LST_ID', 'INSERT_DATE',
       'DROP_DATE', 'MILITARY_FACIL_TYPE_CDE'],
      dtype='object')

In [181]:
dod_suppl_mpc_merge.MILITARY_FACIL_TYPE_CDE.unique()

array(['A', 'B'], dtype=object)

In [182]:
dod_suppl_mpc_merge["WIDGET_FLAG"]=""

In [183]:
dod_suppl_mpc_merge

,ADJUD_GROUP_OPERATIONAL_ID,CLIENT_MEMBERSHIP_ID,PERSON_NBR,PATIENT_ID,CARRIER_OPERATIONAL_ID,CONTRACT_OPERATIONAL_ID,PRODUCT_SERVICE_ID,PHCY_CLAIM_ID,PHCY_RX_NBR,FILL_DAYS_SUPPLY_QTY,...,DEA_CDE_y,LONGTERM_ACUTE,NDC_NBR_v1,DCR_DRUG_LST_ID_v1,NDC_NBR,DCR_DRUG_LST_ID,INSERT_DATE,DROP_DATE,MILITARY_FACIL_TYPE_CDE,WIDGET_FLAG
0,TXS000000287353,284208601,1,558.212.241,DODA,EXD08831,10001,250.033.860.343.221.040,121905,30,...,0.0,Y,10001.0,1.0,0.0,0.0,0,0,A,
1,TXS000000287353,284208601,1,558.212.241,DODA,EXD08831,10001,250.033.860.343.221.040,121905,30,...,0.0,Y,10001.0,1.0,0.0,0.0,0,0,A,
2,TXS000000287353,284208601,1,558.212.241,DODA,EXD08831,10001,250.033.860.343.221.040,121905,30,...,0.0,Y,10001.0,1.0,0.0,0.0,0,0,A,
3,TXS000000287353,284208601,1,558.212.241,DODA,EXD08831,10001,250.033.860.343.221.040,121905,30,...,0.0,Y,10001.0,1.0,0.0,0.0,0,0,A,
4,TXS000000287353,284208601,1,558.212.241,DODA,EXD08831,10001,250.033.860.343.221.040,121905,30,...,0.0,Y,10001.0,1.0,0.0,0.0,0,0,A,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17951,TXS000000287354,914439101,1,558.212.805,DODA,EXD08831,10020,457.773.860.333.221.040,1931215,54,...,0.0,Y,10020.0,41.0,0.0,0.0,0,0,A,
17952,TXS000000287354,914439101,1,558.212.805,DODA,EXD08831,10020,457.773.860.333.221.040,1931215,54,...,0.0,Y,10020.0,41.0,0.0,0.0,0,0,A,
17953,TXS000000287354,914439101,1,558.212.805,DODA,EXD08831,10020,457.773.860.333.221.040,1931215,54,...,0.0,Y,10020.0,41.0,0.0,0.0,0,0,B,
17954,TXS000000287354,914439101,1,558.212.805,DODA,EXD08831,10020,457.773.860.333.221.040,1931215,54,...,0.0,Y,10020.0,41.0,0.0,0.0,0,0,A,
17955,TXS000000287354,914439101,1,558.212.805,DODA,EXD08831,10020,457.773.860.333.221.040,1931215,54,...,0.0,Y,10020.0,41.0,0.0,0.0,0,0,A,

In [184]:
dod_suppl_mpc_merge["WIDGET_FLAG"]=np.where(dod_suppl_mpc_merge["LONGTERM_ACUTE"]=="Y","N",dod_suppl_mpc_merge["WIDGET_FLAG"])

In [185]:
dod_suppl_mpc_merge.head()

,ADJUD_GROUP_OPERATIONAL_ID,CLIENT_MEMBERSHIP_ID,PERSON_NBR,PATIENT_ID,CARRIER_OPERATIONAL_ID,CONTRACT_OPERATIONAL_ID,PRODUCT_SERVICE_ID,PHCY_CLAIM_ID,PHCY_RX_NBR,FILL_DAYS_SUPPLY_QTY,...,DEA_CDE_y,LONGTERM_ACUTE,NDC_NBR_v1,DCR_DRUG_LST_ID_v1,NDC_NBR,DCR_DRUG_LST_ID,INSERT_DATE,DROP_DATE,MILITARY_FACIL_TYPE_CDE,WIDGET_FLAG
0,TXS000000287353,284208601,1,558.212.241,DODA,EXD08831,10001,250.033.860.343.221.040,121905,30,...,0.0,Y,10001.0,1.0,0.0,0.0,0,0,A,N
1,TXS000000287353,284208601,1,558.212.241,DODA,EXD08831,10001,250.033.860.343.221.040,121905,30,...,0.0,Y,10001.0,1.0,0.0,0.0,0,0,A,N
2,TXS000000287353,284208601,1,558.212.241,DODA,EXD08831,10001,250.033.860.343.221.040,121905,30,...,0.0,Y,10001.0,1.0,0.0,0.0,0,0,A,N
3,TXS000000287353,284208601,1,558.212.241,DODA,EXD08831,10001,250.033.860.343.221.040,121905,30,...,0.0,Y,10001.0,1.0,0.0,0.0,0,0,A,N
4,TXS000000287353,284208601,1,558.212.241,DODA,EXD08831,10001,250.033.860.343.221.040,121905,30,...,0.0,Y,10001.0,1.0,0.0,0.0,0,0,A,N

In [186]:
#dod_suppl_mpc_merge.columns

In [187]:
dod_suppl_mpc_merge["CLIENT_GUARANTEE_CDE"]=""

In [188]:
dod_suppl_mpc_merge.head()

,ADJUD_GROUP_OPERATIONAL_ID,CLIENT_MEMBERSHIP_ID,PERSON_NBR,PATIENT_ID,CARRIER_OPERATIONAL_ID,CONTRACT_OPERATIONAL_ID,PRODUCT_SERVICE_ID,PHCY_CLAIM_ID,PHCY_RX_NBR,FILL_DAYS_SUPPLY_QTY,...,DEA_CDE_y,LONGTERM_ACUTE,NDC_NBR_v1,DCR_DRUG_LST_ID_v1,NDC_NBR,DCR_DRUG_LST_ID,INSERT_DATE,DROP_DATE,MILITARY_FACIL_TYPE_CDE,WIDGET_FLAG
0,TXS000000287353,284208601,1,558.212.241,DODA,EXD08831,10001,250.033.860.343.221.040,121905,30,...,0.0,Y,10001.0,1.0,0.0,0.0,0,0,A,N
1,TXS000000287353,284208601,1,558.212.241,DODA,EXD08831,10001,250.033.860.343.221.040,121905,30,...,0.0,Y,10001.0,1.0,0.0,0.0,0,0,A,N
2,TXS000000287353,284208601,1,558.212.241,DODA,EXD08831,10001,250.033.860.343.221.040,121905,30,...,0.0,Y,10001.0,1.0,0.0,0.0,0,0,A,N
3,TXS000000287353,284208601,1,558.212.241,DODA,EXD08831,10001,250.033.860.343.221.040,121905,30,...,0.0,Y,10001.0,1.0,0.0,0.0,0,0,A,N
4,TXS000000287353,284208601,1,558.212.241,DODA,EXD08831,10001,250.033.860.343.221.040,121905,30,...,0.0,Y,10001.0,1.0,0.0,0.0,0,0,A,N

In [189]:
#dod_suppl_mpc_merge.columns

In [190]:
dod_suppl_mpc_merge.CLIENT_GUARANTEE_CDE.unique()

array([''], dtype=object)

In [191]:
dod_suppl_mpc_merge["CLIENT_GUARANTEE_CDE"]=np.where(dod_suppl_mpc_merge["MILITARY_FACIL_TYPE_CDE"]=="A","T",0)

In [192]:
dod_suppl_mpc_merge.CLIENT_GUARANTEE_CDE.unique()

array(['T', '0'], dtype=object)

In [193]:
dod_suppl_mpc_merge.SPECIALTY_PHCY_IND.unique()

array([0.])

In [194]:
dod_suppl_mpc_merge.TRANSACTION_TYPE_CDE.unique()

array([36, 31], dtype=int64)

In [195]:
dod_suppl_mpc=dod_suppl_mpc_merge[dod_suppl_mpc_merge["TRANSACTION_TYPE_CDE"].isin([31,36])
                 &(dod_suppl_mpc_merge["EXTERNAL_SRC_IND"] == "N")
                 &(dod_suppl_mpc_merge["SERVICED_DTE"]>new_date)
                 &(dod_suppl_mpc_merge["RX_COMPOUND_IND"]!="Y")
                      
                 &(((dod_suppl_mpc_merge["FILL_DAYS_SUPPLY_QTY"]>=14)
                    
                &((dod_suppl_mpc_merge["MAINTENANCE_DRUG_CDE"] == 1)
                   |(dod_suppl_mpc_merge["SPECIALTY_PHCY_IND"] ==1)))
                   
                 |(dod_suppl_mpc_merge["LONGTERM_ACUTE"]=="Y"))]

In [196]:
dod_suppl_mpc.TRANSACTION_TYPE_CDE.unique()

array([36, 31], dtype=int64)

In [197]:
dod_suppl_mpc.EXTERNAL_SRC_IND.unique()

array(['N'], dtype=object)

In [198]:
dod_suppl_mpc.SERVICED_DTE.unique()

array(['2023-12-31T00:00:00.000000000', '2024-01-10T00:00:00.000000000',
       '2023-08-26T00:00:00.000000000', '2024-01-01T00:00:00.000000000',
       '2024-01-23T00:00:00.000000000'], dtype='datetime64[ns]')

In [199]:
dod_suppl_mpc.RX_COMPOUND_IND.unique()

array(['N'], dtype=object)

In [200]:
dod_suppl_mpc.FILL_DAYS_SUPPLY_QTY.unique()

array([30,  3, 12, 10, 34, 20, 25, 18, 16,  8, 17, 45], dtype=int64)

In [201]:
dod_suppl_mpc.MAINTENANCE_DRUG_CDE.unique()

array([1, 0], dtype=int64)

In [202]:
dod_suppl_mpc.SPECIALTY_PHCY_IND.unique()

array([0.])

In [203]:
dod_suppl_mpc.LONGTERM_ACUTE.unique()

array(['Y'], dtype=object)

In [204]:
########## IMPORT UHG FILE ######### 333333333333333

In [205]:
UHG_TABLE=pd.read_excel(r"C:\Users\hp\Downloads\InputFiles_UPDATED.xlsx",sheet_name="UHG")

In [206]:
UHG_TABLE

,ADJUD_GROUP_OPERATIONAL_ID,CLIENT_MEMBERSHIP_ID,PERSON_NBR,PATIENT_ID,CARRIER_OPERATIONAL_ID,CONTRACT_OPERATIONAL_ID,PHCY_PRODUCT_SERVICE_ID,PHCY_CLAIM_ID,PHCY_RX_NBR,FILL_DAYS_SUPPLY_QTY,...,UMBRELLA_PRODUCT_ID,UMBRELLA_PRODUCT_SRC_CDE,MAIL_PHCY_FILL_NBR,PHCY_ACCOUNT_NBR,DEA_CDE,fill_phcy_provider_id,fill_phcy_provider_src_cde,prescriber_provider_id,prescriber_provider_src_cde,Service_msg_product_id
0,U70481200430043,647555540,1,304.372.737,1996,UHGNUSN1,10001,766.060.379.155.202.910,331595,30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,UHGMSP82069,671329696,1,252.081.172,1996,UHA00399,10002,917.856.312.813.572.100,7301639,-28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,UHGMSP82069,671329696,1,252.081.172,1996,UHA00399,10003,419.978.657.472.550.100,7301639,28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,U70543701090109,664842223,1,163.124.689,1996,U0706437,10004,337.406.164.497.889.930,6120141,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,U71021200020002,666408414,2,280.508.046,1995,UHG26515,10005,765.017.862.336.352.500,412038,30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211,U71544700030003,661356794,2,181.773.646,1996,UHGNUSN1,10212,276.910.027.571.417.420,2083531,90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
212,U71544700030003,661356794,2,181.773.646,1996,UHGNUSN1,10213,620.882.576.952.113.220,3443918,30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
213,U70447000750075,167953739,1,289.412.921,1996,U0704470,10214,491.166.774.818.620.630,1118065,90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
214,U70447000750075,167953739,1,289.412.921,1996,U0704470,10215,795.576.172.637.918.230,1862154,90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215,U18515601200120,661019394,1,265.368.023,1996,UHGNUSN1,10216,495.054.065.838.957.730,2959470,30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [207]:
#UHG_TABLE.SERVICED_DTE.unique()

In [208]:
#UHG_TABLE.head()

In [209]:
#UHG_TABLE.tail()

In [210]:
UHG_TABLE.dtypes

ADJUD_GROUP_OPERATIONAL_ID              object
CLIENT_MEMBERSHIP_ID                     int64
PERSON_NBR                               int64
PATIENT_ID                              object
CARRIER_OPERATIONAL_ID                   int64
CONTRACT_OPERATIONAL_ID                 object
PHCY_PRODUCT_SERVICE_ID                  int64
PHCY_CLAIM_ID                           object
PHCY_RX_NBR                              int64
FILL_DAYS_SUPPLY_QTY                     int64
TRANSACTION_TYPE_CDE                     int64
MAIL_RETAIL_CDE                         object
SERVICED_DTE                    datetime64[ns]
COPY_COST_TIER_SEQ                     float64
FILL_DRUG_FORMULARY_IND                 object
MAIL_SERVICE_RX_SRC_CDE                  int64
MAIL_SERVICE_RX_NBR                      int64
ELIG_GROUP_OPERATIONAL_ID               object
BILLING_DAW_CODE                         int64
BIL_PRODUCT_SERVICE_ID                   int64
EXTERNAL_SRC_IND                        object
RX_COMPOUND_IND                         object
COPAY_PRICING_SUB_OPTION_NBR           float64
CLAIMS_SUBMISSION_TYPE_CDE             float64
INTERVENTION_RULE_ID                   float64
CLIENT_GUARANTEE_CDE                   float64
MAIL_PRODUCT_SERVICE_ID                float64
UMBRELLA_PRODUCT_ID                    float64
UMBRELLA_PRODUCT_SRC_CDE               float64
MAIL_PHCY_FILL_NBR                     float64
PHCY_ACCOUNT_NBR                       float64
DEA_CDE                                float64
fill_phcy_provider_id                  float64
fill_phcy_provider_src_cde             float64
prescriber_provider_id                 float64
prescriber_provider_src_cde            float64
Service_msg_product_id                 float64
dtype: object

In [211]:
#HIST_PHARMACY_CLAIM_UHG_ACC_SQL=""

In [212]:
#HIST_PHARMACY_CLAIM_UHG_ACC_COL=["ADJUD_GROUP_OPERATIONAL_ID",
#                               "CLIENT_MEMBERSHIP_ID","PERSON_NBR",
#                               "PATIENT_ID","CARRIER_OPERATIONAL_ID",
#                                "CONTRACT_OPERATIONAL_ID","PHCY_PRODUCT_SERVICE_ID",
#                                "PHCY_CLAIM_ID","PHCY_RX_NBR","FILL_DAYS_SUPPLY_QTY",
#                                "TRANSACTION_TYPE_CDE","MAIL_RETAIL_CDE",
#                                "SERVICED_DTE","COPAY_COST_TIER_SEQ",
#                                "FILL_DRUG_FORMULARY_IND","MAIL_SERVICE_RX_SRC_CDE",
#                                "MAIL_SERVICE_RX_NBR","COPY_PRICING_SUB_OPTION_NBR",
#                                "CLAIMS_SUBMISSION_TYPE_CDE","INTERVENTION_RULE_ID",
#                                "CLIENT_GUARANTEE_CDE","MAIL_PRODUCT_SERVICE_ID",
#                                "UMBRELLA_PRODUCT_ID","UMBRELLA_PRODUCT_SRC_CDE",
#                                 "ELIG_GROUP_OPERATIONAL_ID",
#                                "MAIL_PHCY_CDE","MAIL_PHCY_FILL_NBR",
#                                "PHCY_ACCOUNT_NBR","DEA_CDE","fill_phcy_provider_id",
#                                "fill_phcy_provider_src_cde","prescriber_provider_id",
#                                "prescriber_provider_src_cde","Service_msg_product_id",
#                                "Service_msg_product_src_cde","Billing_DAW_cde","Bil_product_service_id"]

In [213]:
#UHG_TABLE.columns=HIST_PHARMACY_CLAIM_UHG_ACC_COL

In [214]:
#UHG_TABLE.shape

In [215]:
#len(HIST_PHARMACY_CLAIM_UHG_ACC_COL)

In [216]:
UHG_TABLE.rename(columns = {"PHCY_PRODUCT_SERVICE_ID" : "PRODUCT_SERVICE_ID"}, 
          inplace = True)

In [217]:
UHG_TABLE.dtypes

ADJUD_GROUP_OPERATIONAL_ID              object
CLIENT_MEMBERSHIP_ID                     int64
PERSON_NBR                               int64
PATIENT_ID                              object
CARRIER_OPERATIONAL_ID                   int64
CONTRACT_OPERATIONAL_ID                 object
PRODUCT_SERVICE_ID                       int64
PHCY_CLAIM_ID                           object
PHCY_RX_NBR                              int64
FILL_DAYS_SUPPLY_QTY                     int64
TRANSACTION_TYPE_CDE                     int64
MAIL_RETAIL_CDE                         object
SERVICED_DTE                    datetime64[ns]
COPY_COST_TIER_SEQ                     float64
FILL_DRUG_FORMULARY_IND                 object
MAIL_SERVICE_RX_SRC_CDE                  int64
MAIL_SERVICE_RX_NBR                      int64
ELIG_GROUP_OPERATIONAL_ID               object
BILLING_DAW_CODE                         int64
BIL_PRODUCT_SERVICE_ID                   int64
EXTERNAL_SRC_IND                        object
RX_COMPOUND_IND                         object
COPAY_PRICING_SUB_OPTION_NBR           float64
CLAIMS_SUBMISSION_TYPE_CDE             float64
INTERVENTION_RULE_ID                   float64
CLIENT_GUARANTEE_CDE                   float64
MAIL_PRODUCT_SERVICE_ID                float64
UMBRELLA_PRODUCT_ID                    float64
UMBRELLA_PRODUCT_SRC_CDE               float64
MAIL_PHCY_FILL_NBR                     float64
PHCY_ACCOUNT_NBR                       float64
DEA_CDE                                float64
fill_phcy_provider_id                  float64
fill_phcy_provider_src_cde             float64
prescriber_provider_id                 float64
prescriber_provider_src_cde            float64
Service_msg_product_id                 float64
dtype: object

In [218]:
uhg_mpc_merge=UHG_TABLE.merge(mpc_wrk,how="inner",on="PRODUCT_SERVICE_ID")

In [219]:
uhg_mpc_merge

,ADJUD_GROUP_OPERATIONAL_ID,CLIENT_MEMBERSHIP_ID,PERSON_NBR,PATIENT_ID,CARRIER_OPERATIONAL_ID,CONTRACT_OPERATIONAL_ID,PRODUCT_SERVICE_ID,PHCY_CLAIM_ID,PHCY_RX_NBR,FILL_DAYS_SUPPLY_QTY,...,LABLE_TXT,MEDCO_DRUG_NBR,DEA_CDE_y,LONGTERM_ACUTE,NDC_NBR_v1,DCR_DRUG_LST_ID_v1,NDC_NBR,DCR_DRUG_LST_ID,INSERT_DATE,DROP_DATE
0,U70481200430043,647555540,1,304.372.737,1996,UHGNUSN1,10001,766.060.379.155.202.910,331595,30,...,CAPTOPRIL 50MG TABLET,0.0,0.0,Y,10001.0,1.0,0.0,0.0,0,0
1,U70481200430043,647555540,1,304.372.737,1996,UHGNUSN1,10001,766.060.379.155.202.910,331595,30,...,CAPTOPRIL 50MG TABLET,0.0,0.0,Y,10001.0,2.0,0.0,0.0,0,0
2,U70481200430043,647555540,1,304.372.737,1996,UHGNUSN1,10001,766.060.379.155.202.910,331595,30,...,CAPTOPRIL 50MG TABLET,0.0,0.0,Y,10001.0,5.0,0.0,0.0,0,0
3,U70481200430043,647555540,1,304.372.737,1996,UHGNUSN1,10001,766.060.379.155.202.910,331595,30,...,CAPTOPRIL 50MG TABLET,0.0,0.0,Y,10001.0,7.0,0.0,0.0,0,0
4,U70481200430043,647555540,1,304.372.737,1996,UHGNUSN1,10001,766.060.379.155.202.910,331595,30,...,CAPTOPRIL 50MG TABLET,0.0,0.0,Y,10001.0,8.0,0.0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
844,U23053900280028,661227401,3,106.134.650,1996,UHGNUSN1,10062,268.272.050.265.613.000,370240,5,...,NON ASPIRIN 500MG CAPSULE,0.0,0.0,Y,10062.0,6.0,0.0,0.0,0,0
845,U23053900280028,661227401,3,106.134.650,1996,UHGNUSN1,10062,268.272.050.265.613.000,370240,5,...,NON ASPIRIN 500MG CAPSULE,0.0,0.0,Y,10062.0,7.0,0.0,0.0,0,0
846,U23053900280028,661227401,3,106.134.650,1996,UHGNUSN1,10062,268.272.050.265.613.000,370240,5,...,NON ASPIRIN 500MG CAPSULE,0.0,0.0,Y,10062.0,8.0,0.0,0.0,0,0
847,U23053900280028,661227401,3,106.134.650,1996,UHGNUSN1,10062,268.272.050.265.613.000,370240,5,...,NON ASPIRIN 500MG CAPSULE,0.0,0.0,Y,10062.0,9.0,0.0,0.0,0,0
848,U23053900280028,661227401,3,106.134.650,1996,UHGNUSN1,10062,268.272.050.265.613.000,370240,5,...,NON ASPIRIN 500MG CAPSULE,0.0,0.0,Y,10062.0,10.0,0.0,0.0,0,0

In [220]:
uhg_mpc_merge.SERVICED_DTE.unique()

array(['2023-12-31T00:00:00.000000000', '2024-01-01T00:00:00.000000000',
       '2023-01-09T00:00:00.000000000', '2023-08-26T00:00:00.000000000',
       '2023-01-01T00:00:00.000000000', '2024-01-10T00:00:00.000000000',
       '2024-01-19T00:00:00.000000000', '2024-01-23T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [221]:
uhg_mpc_merge["WIDGET_FLAG"]=""

In [222]:
uhg_mpc_merge.head()

,ADJUD_GROUP_OPERATIONAL_ID,CLIENT_MEMBERSHIP_ID,PERSON_NBR,PATIENT_ID,CARRIER_OPERATIONAL_ID,CONTRACT_OPERATIONAL_ID,PRODUCT_SERVICE_ID,PHCY_CLAIM_ID,PHCY_RX_NBR,FILL_DAYS_SUPPLY_QTY,...,MEDCO_DRUG_NBR,DEA_CDE_y,LONGTERM_ACUTE,NDC_NBR_v1,DCR_DRUG_LST_ID_v1,NDC_NBR,DCR_DRUG_LST_ID,INSERT_DATE,DROP_DATE,WIDGET_FLAG
0,U70481200430043,647555540,1,304.372.737,1996,UHGNUSN1,10001,766.060.379.155.202.910,331595,30,...,0.0,0.0,Y,10001.0,1.0,0.0,0.0,0,0,
1,U70481200430043,647555540,1,304.372.737,1996,UHGNUSN1,10001,766.060.379.155.202.910,331595,30,...,0.0,0.0,Y,10001.0,2.0,0.0,0.0,0,0,
2,U70481200430043,647555540,1,304.372.737,1996,UHGNUSN1,10001,766.060.379.155.202.910,331595,30,...,0.0,0.0,Y,10001.0,5.0,0.0,0.0,0,0,
3,U70481200430043,647555540,1,304.372.737,1996,UHGNUSN1,10001,766.060.379.155.202.910,331595,30,...,0.0,0.0,Y,10001.0,7.0,0.0,0.0,0,0,
4,U70481200430043,647555540,1,304.372.737,1996,UHGNUSN1,10001,766.060.379.155.202.910,331595,30,...,0.0,0.0,Y,10001.0,8.0,0.0,0.0,0,0,

In [223]:
uhg_mpc_merge["WIDGET_FLAG"]=np.where(uhg_mpc_merge["LONGTERM_ACUTE"]=="Y","N",uhg_mpc_merge["WIDGET_FLAG"])

In [224]:
uhg_mpc_merge.head()

,ADJUD_GROUP_OPERATIONAL_ID,CLIENT_MEMBERSHIP_ID,PERSON_NBR,PATIENT_ID,CARRIER_OPERATIONAL_ID,CONTRACT_OPERATIONAL_ID,PRODUCT_SERVICE_ID,PHCY_CLAIM_ID,PHCY_RX_NBR,FILL_DAYS_SUPPLY_QTY,...,MEDCO_DRUG_NBR,DEA_CDE_y,LONGTERM_ACUTE,NDC_NBR_v1,DCR_DRUG_LST_ID_v1,NDC_NBR,DCR_DRUG_LST_ID,INSERT_DATE,DROP_DATE,WIDGET_FLAG
0,U70481200430043,647555540,1,304.372.737,1996,UHGNUSN1,10001,766.060.379.155.202.910,331595,30,...,0.0,0.0,Y,10001.0,1.0,0.0,0.0,0,0,N
1,U70481200430043,647555540,1,304.372.737,1996,UHGNUSN1,10001,766.060.379.155.202.910,331595,30,...,0.0,0.0,Y,10001.0,2.0,0.0,0.0,0,0,N
2,U70481200430043,647555540,1,304.372.737,1996,UHGNUSN1,10001,766.060.379.155.202.910,331595,30,...,0.0,0.0,Y,10001.0,5.0,0.0,0.0,0,0,N
3,U70481200430043,647555540,1,304.372.737,1996,UHGNUSN1,10001,766.060.379.155.202.910,331595,30,...,0.0,0.0,Y,10001.0,7.0,0.0,0.0,0,0,N
4,U70481200430043,647555540,1,304.372.737,1996,UHGNUSN1,10001,766.060.379.155.202.910,331595,30,...,0.0,0.0,Y,10001.0,8.0,0.0,0.0,0,0,N

In [225]:
#uhg_mpc_merge.columns

In [226]:
uhg_mpc_merge.RX_COMPOUND_IND.unique()

array(['Y', 'N'], dtype=object)

In [227]:
uhg_mpc_merge.SPECIALTY_PHCY_IND.unique()

array([0.])

In [228]:
uhg_mpc_merge.TRANSACTION_TYPE_CDE.unique()

array([31, 32, 36], dtype=int64)

In [229]:
uhg_mpc=uhg_mpc_merge[uhg_mpc_merge["TRANSACTION_TYPE_CDE"].isin([31,36])
                 &(uhg_mpc_merge["EXTERNAL_SRC_IND"] == "N")
                 &(uhg_mpc_merge["SERVICED_DTE"]>new_date)
                 &(uhg_mpc_merge["RX_COMPOUND_IND"]!="Y")
                      
                 &(((uhg_mpc_merge["FILL_DAYS_SUPPLY_QTY"]>=14)
                    
                &((uhg_mpc_merge["MAINTENANCE_DRUG_CDE"] == 1)
                   |(uhg_mpc_merge["SPECIALTY_PHCY_IND"] ==1)))
                   
                 |(uhg_mpc_merge["LONGTERM_ACUTE"]=="Y"))]

In [230]:
uhg_mpc.TRANSACTION_TYPE_CDE.unique()

array([36, 31], dtype=int64)

In [231]:
uhg_mpc.EXTERNAL_SRC_IND.unique()

array(['N'], dtype=object)

In [232]:
uhg_mpc.SERVICED_DTE.unique()

array(['2023-08-26T00:00:00.000000000', '2024-01-23T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [233]:
uhg_mpc.RX_COMPOUND_IND.unique()

array(['N'], dtype=object)

In [234]:
uhg_mpc.FILL_DAYS_SUPPLY_QTY.unique()

array([90, 30, 10], dtype=int64)

In [235]:
uhg_mpc.MAINTENANCE_DRUG_CDE.unique()

array([1], dtype=int64)

In [236]:
uhg_mpc.SPECIALTY_PHCY_IND.unique()

array([0.])

In [237]:
uhg_mpc.LONGTERM_ACUTE.unique()

array(['Y'], dtype=object)

In [238]:
########### IMPORT BWP TABLE ############ 44444444444444

In [239]:
 BWP_TABLE=pd.read_excel(r"C:\Users\hp\Downloads\InputFiles_UPDATED.xlsx",sheet_name="BWP")

In [240]:
BWP_TABLE

,ADJUD_GROUP_OPERATIONAL_ID,CLIENT_MEMBERSHIP_ID,PERSON_NBR,PATIENT_ID,CARRIER_OPERATIONAL_ID,CONTRACT_OPERATIONAL_ID,PHCY_PRODUCT_SERVICE_ID,PHCY_CLAIM_ID,PHCY_RX_NBR,FILL_DAYS_SUPPLY_QTY,...,UMBRELLA_PRODUCT_ID,UMBRELLA_PRODUCT_SRC_CDE,MAIL_PHCY_FILL_NBR,PHCY_ACCOUNT_NBR,DEA_CDE,fill_phcy_provider_id,fill_phcy_provider_src_cde,prescriber_provider_id,prescriber_provider_src_cde,Service_msg_product_id
0,U70481200430043,647555540.0,1.0,304.372.737,1996.0,UHGNUSN1,10001,766.060.379.155.202.910,331595.0,30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,UHGMSP82069,671329696.0,1.0,252.081.172,1996.0,UHA00399,10002,917.856.312.813.572.100,7301639.0,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,UHGMSP82069,671329696.0,1.0,252.081.172,1996.0,UHA00399,10003,419.978.657.472.550.100,7301639.0,25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,U70543701090109,664842223.0,1.0,163.124.689,1996.0,U0706437,10004,337.406.164.497.889.930,6120141.0,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,U71021200020002,666408414.0,2.0,280.508.046,1995.0,UHG26515,10005,765.017.862.336.352.500,412038.0,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218,NaN,NaN,NaN,NaN,NaN,NaN,10219,NaN,NaN,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
219,NaN,NaN,NaN,NaN,NaN,NaN,10220,NaN,NaN,17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
220,NaN,NaN,NaN,NaN,NaN,NaN,10221,NaN,NaN,36,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
221,NaN,NaN,NaN,NaN,NaN,NaN,10222,NaN,NaN,45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
222,NaN,NaN,NaN,NaN,NaN,NaN,10223,NaN,NaN,54,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [241]:
#BWP_TABLE.dtypes

In [242]:
#HIST_PHARMACY_CLAIM_BWP_ACC_SQL=""

In [243]:
#HIST_PHARMACY_CLAIM_UHG_ACC_COL=["ADJUD_GROUP_OPERATIONAL_ID",
#                               "CLIENT_MEMBERSHIP_ID","PERSON_NBR",
#                               "PATIENT_ID","CARRIER_OPERATIONAL_ID",
#                                "CONTRACT_OPERATIONAL_ID","PHCY_PRODUCT_SERVICE_ID",
#                                "PHCY_CLAIM_ID","PHCY_RX_NBR","FILL_DAYS_SUPPLY_QTY",
#                                "TRANSACTION_TYPE_CDE","MAIL_RETAIL_CDE",
#                                "SERVICED_DTE","COPAY_COST_TIER_SEQ",
#                                "FILL_DRUG_FORMULARY_IND","MAIL_SERVICE_RX_SRC_CDE",
#                                "MAIL_SERVICE_RX_NBR","COPY_PRICING_SUB_OPTION_NBR",
#                                "CLAIMS_SUBMISSION_TYPE_CDE","INTERVENTION_RULE_ID",
#                                "CLIENT_GUARANTEE_CDE","MAIL_PRODUCT_SERVICE_ID",
#                               "UMBRELLA_PRODUCT_ID","UMBRELLA_PRODUCT_SRC_CDE",
#                                 "ELIG_GROUP_OPERATIONAL_ID",
#                                "MAIL_PHCY_CDE","MAIL_PHCY_FILL_NBR",
#                                "PHCY_ACCOUNT_NBR","DEA_CDE","fill_phcy_provider_id",
#                                "fill_phcy_provider_src_cde","prescriber_provider_id",
#                                "prescriber_provider_src_cde","Service_msg_product_id",
#                                "Service_msg_product_src_cde","Billing_DAW_cde","Bil_product_service_id"]

In [244]:
#BWP_TABLE.columns=HIST_PHARMACY_CLAIM_UHG_ACC_COL

In [245]:
#BWP_TABLE.shape

In [246]:
#len(HIST_PHARMACY_CLAIM_UHG_ACC_COL)

In [247]:
BWP_TABLE.rename(columns = {"PHCY_PRODUCT_SERVICE_ID" : "PRODUCT_SERVICE_ID"},  
          inplace = True)

In [248]:
#BWP_TABLE.dtypes

In [249]:
bwp_mpc_merge=BWP_TABLE.merge(mpc_wrk,how="inner",on="PRODUCT_SERVICE_ID")

In [250]:
bwp_mpc_merge.head()

,ADJUD_GROUP_OPERATIONAL_ID,CLIENT_MEMBERSHIP_ID,PERSON_NBR,PATIENT_ID,CARRIER_OPERATIONAL_ID,CONTRACT_OPERATIONAL_ID,PRODUCT_SERVICE_ID,PHCY_CLAIM_ID,PHCY_RX_NBR,FILL_DAYS_SUPPLY_QTY,...,LABLE_TXT,MEDCO_DRUG_NBR,DEA_CDE_y,LONGTERM_ACUTE,NDC_NBR_v1,DCR_DRUG_LST_ID_v1,NDC_NBR,DCR_DRUG_LST_ID,INSERT_DATE,DROP_DATE
0,U70481200430043,647555540.0,1.0,304.372.737,1996.0,UHGNUSN1,10001,766.060.379.155.202.910,331595.0,30,...,CAPTOPRIL 50MG TABLET,0.0,0.0,Y,10001.0,1.0,0.0,0.0,0,0
1,U70481200430043,647555540.0,1.0,304.372.737,1996.0,UHGNUSN1,10001,766.060.379.155.202.910,331595.0,30,...,CAPTOPRIL 50MG TABLET,0.0,0.0,Y,10001.0,2.0,0.0,0.0,0,0
2,U70481200430043,647555540.0,1.0,304.372.737,1996.0,UHGNUSN1,10001,766.060.379.155.202.910,331595.0,30,...,CAPTOPRIL 50MG TABLET,0.0,0.0,Y,10001.0,5.0,0.0,0.0,0,0
3,U70481200430043,647555540.0,1.0,304.372.737,1996.0,UHGNUSN1,10001,766.060.379.155.202.910,331595.0,30,...,CAPTOPRIL 50MG TABLET,0.0,0.0,Y,10001.0,7.0,0.0,0.0,0,0
4,U70481200430043,647555540.0,1.0,304.372.737,1996.0,UHGNUSN1,10001,766.060.379.155.202.910,331595.0,30,...,CAPTOPRIL 50MG TABLET,0.0,0.0,Y,10001.0,8.0,0.0,0.0,0,0

In [251]:
#bwp_mpc_merge.columns

In [252]:
bwp_mpc_merge["WIDGET_FLAG"]=""

In [253]:
bwp_mpc_merge.head()

,ADJUD_GROUP_OPERATIONAL_ID,CLIENT_MEMBERSHIP_ID,PERSON_NBR,PATIENT_ID,CARRIER_OPERATIONAL_ID,CONTRACT_OPERATIONAL_ID,PRODUCT_SERVICE_ID,PHCY_CLAIM_ID,PHCY_RX_NBR,FILL_DAYS_SUPPLY_QTY,...,MEDCO_DRUG_NBR,DEA_CDE_y,LONGTERM_ACUTE,NDC_NBR_v1,DCR_DRUG_LST_ID_v1,NDC_NBR,DCR_DRUG_LST_ID,INSERT_DATE,DROP_DATE,WIDGET_FLAG
0,U70481200430043,647555540.0,1.0,304.372.737,1996.0,UHGNUSN1,10001,766.060.379.155.202.910,331595.0,30,...,0.0,0.0,Y,10001.0,1.0,0.0,0.0,0,0,
1,U70481200430043,647555540.0,1.0,304.372.737,1996.0,UHGNUSN1,10001,766.060.379.155.202.910,331595.0,30,...,0.0,0.0,Y,10001.0,2.0,0.0,0.0,0,0,
2,U70481200430043,647555540.0,1.0,304.372.737,1996.0,UHGNUSN1,10001,766.060.379.155.202.910,331595.0,30,...,0.0,0.0,Y,10001.0,5.0,0.0,0.0,0,0,
3,U70481200430043,647555540.0,1.0,304.372.737,1996.0,UHGNUSN1,10001,766.060.379.155.202.910,331595.0,30,...,0.0,0.0,Y,10001.0,7.0,0.0,0.0,0,0,
4,U70481200430043,647555540.0,1.0,304.372.737,1996.0,UHGNUSN1,10001,766.060.379.155.202.910,331595.0,30,...,0.0,0.0,Y,10001.0,8.0,0.0,0.0,0,0,

In [254]:
bwp_mpc_merge["WIDGET_FLAG"]=np.where(bwp_mpc_merge["LONGTERM_ACUTE"]=="Y","N",bwp_mpc_merge["WIDGET_FLAG"])

In [255]:
bwp_mpc_merge.head()

,ADJUD_GROUP_OPERATIONAL_ID,CLIENT_MEMBERSHIP_ID,PERSON_NBR,PATIENT_ID,CARRIER_OPERATIONAL_ID,CONTRACT_OPERATIONAL_ID,PRODUCT_SERVICE_ID,PHCY_CLAIM_ID,PHCY_RX_NBR,FILL_DAYS_SUPPLY_QTY,...,MEDCO_DRUG_NBR,DEA_CDE_y,LONGTERM_ACUTE,NDC_NBR_v1,DCR_DRUG_LST_ID_v1,NDC_NBR,DCR_DRUG_LST_ID,INSERT_DATE,DROP_DATE,WIDGET_FLAG
0,U70481200430043,647555540.0,1.0,304.372.737,1996.0,UHGNUSN1,10001,766.060.379.155.202.910,331595.0,30,...,0.0,0.0,Y,10001.0,1.0,0.0,0.0,0,0,N
1,U70481200430043,647555540.0,1.0,304.372.737,1996.0,UHGNUSN1,10001,766.060.379.155.202.910,331595.0,30,...,0.0,0.0,Y,10001.0,2.0,0.0,0.0,0,0,N
2,U70481200430043,647555540.0,1.0,304.372.737,1996.0,UHGNUSN1,10001,766.060.379.155.202.910,331595.0,30,...,0.0,0.0,Y,10001.0,5.0,0.0,0.0,0,0,N
3,U70481200430043,647555540.0,1.0,304.372.737,1996.0,UHGNUSN1,10001,766.060.379.155.202.910,331595.0,30,...,0.0,0.0,Y,10001.0,7.0,0.0,0.0,0,0,N
4,U70481200430043,647555540.0,1.0,304.372.737,1996.0,UHGNUSN1,10001,766.060.379.155.202.910,331595.0,30,...,0.0,0.0,Y,10001.0,8.0,0.0,0.0,0,0,N

In [256]:
#bwp_mpc_merge.columns

In [257]:
bwp_mpc_merge.TRANSACTION_TYPE_CDE.unique()

array([31, 36], dtype=int64)

In [258]:
bwp_mpc_merge.EXTERNAL_SRC_IND.unique()

array(['N', 'Y'], dtype=object)

In [259]:
bwp_mpc=bwp_mpc_merge[bwp_mpc_merge["TRANSACTION_TYPE_CDE"].isin([31,36])
                 &(bwp_mpc_merge["EXTERNAL_SRC_IND"] == "N")
                 &(bwp_mpc_merge["SERVICED_DTE"]>new_date)
                 &(bwp_mpc_merge["RX_COMPOUND_IND"]!="Y")
                      
                 &(((bwp_mpc_merge["FILL_DAYS_SUPPLY_QTY"]>=14)
                    
                &((bwp_mpc_merge["MAINTENANCE_DRUG_CDE"] == 1)
                   |(bwp_mpc_merge["SPECIALTY_PHCY_IND"] ==1)))
                   
                 |(bwp_mpc_merge["LONGTERM_ACUTE"]=="Y"))]

In [260]:
bwp_mpc

,ADJUD_GROUP_OPERATIONAL_ID,CLIENT_MEMBERSHIP_ID,PERSON_NBR,PATIENT_ID,CARRIER_OPERATIONAL_ID,CONTRACT_OPERATIONAL_ID,PRODUCT_SERVICE_ID,PHCY_CLAIM_ID,PHCY_RX_NBR,FILL_DAYS_SUPPLY_QTY,...,MEDCO_DRUG_NBR,DEA_CDE_y,LONGTERM_ACUTE,NDC_NBR_v1,DCR_DRUG_LST_ID_v1,NDC_NBR,DCR_DRUG_LST_ID,INSERT_DATE,DROP_DATE,WIDGET_FLAG
0,U70481200430043,647555540.0,1.0,304.372.737,1996.0,UHGNUSN1,10001,766.060.379.155.202.910,331595.0,30,...,0.0,0.0,Y,10001.0,1.0,0.0,0.0,0,0,N
1,U70481200430043,647555540.0,1.0,304.372.737,1996.0,UHGNUSN1,10001,766.060.379.155.202.910,331595.0,30,...,0.0,0.0,Y,10001.0,2.0,0.0,0.0,0,0,N
2,U70481200430043,647555540.0,1.0,304.372.737,1996.0,UHGNUSN1,10001,766.060.379.155.202.910,331595.0,30,...,0.0,0.0,Y,10001.0,5.0,0.0,0.0,0,0,N
3,U70481200430043,647555540.0,1.0,304.372.737,1996.0,UHGNUSN1,10001,766.060.379.155.202.910,331595.0,30,...,0.0,0.0,Y,10001.0,7.0,0.0,0.0,0,0,N
4,U70481200430043,647555540.0,1.0,304.372.737,1996.0,UHGNUSN1,10001,766.060.379.155.202.910,331595.0,30,...,0.0,0.0,Y,10001.0,8.0,0.0,0.0,0,0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
777,UHGSGP0750520,661475494.0,2.0,246.323.549,1995.0,UHG46600,10024,216.379.671.028.149.110,391691.0,7,...,0.0,0.0,Y,10024.0,39.0,0.0,0.0,0,0,N
778,UHGSGP0750520,661475494.0,2.0,246.323.549,1995.0,UHG46600,10024,216.379.671.028.149.110,391691.0,7,...,0.0,0.0,Y,10024.0,40.0,0.0,0.0,0,0,N
779,UHGSGP0750520,661475494.0,2.0,246.323.549,1995.0,UHG46600,10024,216.379.671.028.149.110,391691.0,7,...,0.0,0.0,Y,10024.0,41.0,0.0,0.0,0,0,N
780,UHGSGP0750520,661475494.0,2.0,246.323.549,1995.0,UHG46600,10024,216.379.671.028.149.110,391691.0,7,...,0.0,0.0,Y,10024.0,42.0,0.0,0.0,0,0,N
781,UHGSGP0750520,661475494.0,2.0,246.323.549,1995.0,UHG46600,10024,216.379.671.028.149.110,391691.0,7,...,0.0,0.0,Y,10024.0,43.0,0.0,0.0,0,0,N

In [261]:
bwp_mpc.TRANSACTION_TYPE_CDE.unique()

array([31, 36], dtype=int64)

In [262]:
bwp_mpc.EXTERNAL_SRC_IND.unique()

array(['N'], dtype=object)

In [263]:
bwp_mpc.SERVICED_DTE.unique()

array(['2023-12-31T00:00:00.000000000', '2024-01-01T00:00:00.000000000',
       '2023-08-26T00:00:00.000000000', '2024-01-10T00:00:00.000000000',
       '2024-01-19T00:00:00.000000000', '2024-01-23T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [264]:
bwp_mpc.RX_COMPOUND_IND.unique()

array(['N'], dtype=object)

In [265]:
bwp_mpc.FILL_DAYS_SUPPLY_QTY.unique()

array([30,  5, 31, 17, 12, 34, 20, 18, 25,  3,  7], dtype=int64)

In [266]:
bwp_mpc.LONGTERM_ACUTE.unique()

array(['Y'], dtype=object)

In [267]:
############ IMPORT GM TABLE ############# 555555555555555555

In [268]:
 GM_TABLE=pd.read_excel(r"C:\Users\hp\Downloads\InputFiles_UPDATED.xlsx",sheet_name="GM")

In [269]:
GM_TABLE

,ADJUD_GROUP_OPERATIONAL_ID,CLINENT_MEMBERSHIP_ID,PERSON_NBR,PATIENT_ID,CARRIER_OPERATIONAL_ID,CONTRACT_OPERATIONAL_ID,PHCY_PRODUCT_SERVICE_ID,PHCY_CLAIM_ID,PHCY_RX_NBR,EXTERNAL_SRC_IND,...,MAIL_PHCY_FILL_NBR,PHCY_ACCOUNT_NBR,DEA_CDE,FILL_PHCY_PROVIDER_ID,FILL_PHCY_PROVIDER_SRC_CDE,PRESCRIBER_PROVIDER_ID,PRESCRIBER_PROVIDER_SRC_CDE,SERVICE_MSG_PRODUCT_ID,BILLING_DAW_CDE,BIL_PRODUCT_SERVICE_ID
0,NaN,NaN,NaN,NaN,NaN,NaN,10001.0,NaN,NaN,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,10002.0,NaN,NaN,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,10003.0,NaN,NaN,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,10004.0,NaN,NaN,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,10005.0,NaN,NaN,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
219,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
220,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
222,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [270]:
#GM_TABLE.dtypes

In [271]:
#HIST_PHARMACY_CLAIM_GM_ACC_SQL=""

In [272]:
#HIST_PHARMACY_CLAIM_GM_ACC_COL=["ADJUD_GROUP_OPERATIONAL_ID",
#                               "CLIENT_MEMBERSHIP_ID","PERSON_NBR",
#                               "PATIENT_ID","CARRIER_OPERATIONAL_ID",
#                                "CONTRACT_OPERATIONAL_ID","PHCY_PRODUCT_SERVICE_ID",
#                                "PHCY_CLAIM_ID","PHCY_RX_NBR","FILL_DAYS_SUPPLY_QTY",
#                                "TRANSACTION_TYPE_CDE","MAIL_RETAIL_CDE",
#                                "SERVICED_DTE","COPAY_COST_TIER_SEQ",
#                                "FILL_DRUG_FORMULARY_IND","MAIL_SERVICE_RX_SRC_CDE",
#                                "MAIL_SERVICE_RX_NBR","COPY_PRICING_SUB_OPTION_NBR",
#                                "CLAIMS_SUBMISSION_TYPE_CDE","INTERVENTION_RULE_ID",
#                                "CLIENT_GUARANTEE_CDE","MAIL_PRODUCT_SERVICE_ID",
#                               "UMBRELLA_PRODUCT_ID","UMBRELLA_PRODUCT_SRC_CDE",
#                                 "ELIG_GROUP_OPERATIONAL_ID",
#                                "MAIL_PHCY_CDE","MAIL_PHCY_FILL_NBR",
#                                "PHCY_ACCOUNT_NBR","DEA_CDE","fill_phcy_provider_id",
#                                "fill_phcy_provider_src_cde","prescriber_provider_id",
#                                "prescriber_provider_src_cde","Service_msg_product_id",
#                                "Service_msg_product_src_cde","Billing_DAW_cde","Bil_product_service_id"]

In [273]:
#GM_TABLE.columns=HIST_PHARMACY_CLAIM_GM_ACC_COL

In [274]:
#GM_TABLE.shape

In [275]:
#len(HIST_PHARMACY_CLAIM_GM_ACC_COL)

In [276]:
GM_TABLE.rename(columns = {"PHCY_PRODUCT_SERVICE_ID" : "PRODUCT_SERVICE_ID"},  
          inplace = True)

In [277]:
gm_mpc_merge=GM_TABLE.merge(mpc_wrk,how="inner",on="PRODUCT_SERVICE_ID")

In [278]:
#gm_mpc_merge.head()

In [279]:
#gm_mpc_merge.columns

In [280]:
gm_mpc_merge["WIDGET_FLAG"]=""

In [281]:
#gm_mpc_merge.head()

In [282]:
gm_mpc_merge["WIDGET_FLAG"]=np.where(gm_mpc_merge["LONGTERM_ACUTE"]=="Y","N",gm_mpc_merge["WIDGET_FLAG"])

In [283]:
gm_mpc_merge.head()

,ADJUD_GROUP_OPERATIONAL_ID,CLINENT_MEMBERSHIP_ID,PERSON_NBR,PATIENT_ID,CARRIER_OPERATIONAL_ID,CONTRACT_OPERATIONAL_ID,PRODUCT_SERVICE_ID,PHCY_CLAIM_ID,PHCY_RX_NBR,EXTERNAL_SRC_IND,...,MEDCO_DRUG_NBR,DEA_CDE_y,LONGTERM_ACUTE,NDC_NBR_v1,DCR_DRUG_LST_ID_v1,NDC_NBR,DCR_DRUG_LST_ID,INSERT_DATE,DROP_DATE,WIDGET_FLAG
0,NaN,NaN,NaN,NaN,NaN,NaN,10001.0,NaN,NaN,N,...,0.0,0.0,Y,10001.0,1.0,0.0,0.0,0,0,N
1,NaN,NaN,NaN,NaN,NaN,NaN,10001.0,NaN,NaN,N,...,0.0,0.0,Y,10001.0,2.0,0.0,0.0,0,0,N
2,NaN,NaN,NaN,NaN,NaN,NaN,10001.0,NaN,NaN,N,...,0.0,0.0,Y,10001.0,5.0,0.0,0.0,0,0,N
3,NaN,NaN,NaN,NaN,NaN,NaN,10001.0,NaN,NaN,N,...,0.0,0.0,Y,10001.0,7.0,0.0,0.0,0,0,N
4,NaN,NaN,NaN,NaN,NaN,NaN,10001.0,NaN,NaN,N,...,0.0,0.0,Y,10001.0,8.0,0.0,0.0,0,0,N

In [284]:
gm_mpc=gm_mpc_merge[gm_mpc_merge["TRANSACTION_TYPE_CDE"].isin([31,36])
                 &(gm_mpc_merge["EXTERNAL_SRC_IND"] == "N")
                 &(gm_mpc_merge["SERVICED_DTE"]>new_date)
                 &(gm_mpc_merge["RX_COMPOUND_IND"]!="Y")
                      
                 &(((gm_mpc_merge["FILL_DAYS_SUPPLY_QTY"]>=14)
                    
                &((gm_mpc_merge["MAINTENANCE_DRUG_CDE"] == 1)
                   |(gm_mpc_merge["SPECIALTY_PHCY_IND"] ==1)))
                   
                 |(gm_mpc_merge["LONGTERM_ACUTE"]=="Y"))]

In [285]:
gm_mpc.TRANSACTION_TYPE_CDE.unique()

array([31, 36], dtype=int64)

In [286]:
gm_mpc.EXTERNAL_SRC_IND.unique()

array(['N'], dtype=object)

In [287]:
gm_mpc.SERVICED_DTE.unique()

array(['2023-12-31T00:00:00.000000000', '2024-01-01T00:00:00.000000000',
       '2023-08-26T00:00:00.000000000', '2024-01-10T00:00:00.000000000',
       '2024-01-19T00:00:00.000000000', '2024-01-23T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [288]:
gm_mpc.RX_COMPOUND_IND.unique()

array(['N'], dtype=object)

In [289]:
gm_mpc.FILL_DAYS_SUPPLY_QTY.unique()

array([30,  5, 31, 17, 12, 34, 20, 18, 25,  3,  7], dtype=int64)

In [290]:
gm_mpc.MAINTENANCE_DRUG_CDE.unique()

array([1, 0], dtype=int64)

In [291]:
gm_mpc.LONGTERM_ACUTE.unique()

array(['Y'], dtype=object)

In [292]:
############# FEP TABLE IMPORT ########### 66666666666666

In [293]:
FEP_TABLE=pd.read_excel(r"C:\Users\hp\Downloads\InputFiles_UPDATED.xlsx",sheet_name="FEP")

In [294]:
FEP_TABLE

,ADJUD_GROUP_OPERATIONAL_ID,CLINENT_MEMBERSHIP_ID,PERSON_NBR,PATIENT_ID,CARRIER_OPERATIONAL_ID,CONTRACT_OPERATIONAL_ID,PHCY_PRODUCT_SERVICE_ID,PHCY_CLAIM_ID,PHCY_RX_NBR,EXTERNAL_SRC_IND,...,MAIL_PHCY_FILL_NBR,PHCY_ACCOUNT_NBR,DEA_CDE,FILL_PHCY_PROVIDER_ID,FILL_PHCY_PROVIDER_SRC_CDE,PRESCRIBER_PROVIDER_ID,PRESCRIBER_PROVIDER_SRC_CDE,SERVICE_MSG_PRODUCT_SRC_CDE,BILLING_DAW_CDE,BIL_PRODUCT_SERVICE_ID
0,NaN,NaN,NaN,NaN,NaN,NaN,10001.0,NaN,NaN,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,10002.0,NaN,NaN,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,10003.0,NaN,NaN,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,10004.0,NaN,NaN,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,10005.0,NaN,NaN,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
219,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
220,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
222,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [295]:
#FEP_TABLE.dtypes

In [296]:
#HIST_PHARMACY_CLAIM_FEP_ACC_SQL=""

In [297]:
#HIST_PHARMACY_CLAIM_FEP_ACC_COL=["ADJUD_GROUP_OPERATIONAL_ID",
#                               "CLIENT_MEMBERSHIP_ID","PERSON_NBR",
#                               "PATIENT_ID","CARRIER_OPERATIONAL_ID",
#                                "CONTRACT_OPERATIONAL_ID","PHCY_PRODUCT_SERVICE_ID",
#                                "PHCY_CLAIM_ID","PHCY_RX_NBR","FILL_DAYS_SUPPLY_QTY",
#                                "TRANSACTION_TYPE_CDE","MAIL_RETAIL_CDE",
#                                "SERVICED_DTE","COPAY_COST_TIER_SEQ",
#                                "FILL_DRUG_FORMULARY_IND","MAIL_SERVICE_RX_SRC_CDE",
#                                "MAIL_SERVICE_RX_NBR","COPY_PRICING_SUB_OPTION_NBR",
#                                "CLAIMS_SUBMISSION_TYPE_CDE","INTERVENTION_RULE_ID",
#                                "CLIENT_GUARANTEE_CDE","MAIL_PRODUCT_SERVICE_ID",
#                               "UMBRELLA_PRODUCT_ID","UMBRELLA_PRODUCT_SRC_CDE",
#                                 "ELIG_GROUP_OPERATIONAL_ID",
#                                "MAIL_PHCY_CDE","MAIL_PHCY_FILL_NBR",
#                                "PHCY_ACCOUNT_NBR","DEA_CDE","fill_phcy_provider_id",
#                                "fill_phcy_provider_src_cde","prescriber_provider_id",
#                                "prescriber_provider_src_cde","Service_msg_product_id",
#                                "Service_msg_product_src_cde","Billing_DAW_cde","Bil_product_service_id"]

In [298]:
#FEP_TABLE.columns=HIST_PHARMACY_CLAIM_FEP_ACC_COL

In [299]:
#FEP_TABLE.shape

In [300]:
#len(HIST_PHARMACY_CLAIM_FEP_ACC_COL)

In [301]:
FEP_TABLE.rename(columns = {"PHCY_PRODUCT_SERVICE_ID" : "PRODUCT_SERVICE_ID"},  
          inplace = True)

In [302]:
#FEP_TABLE.columns

In [303]:
fep_mpc_merge=FEP_TABLE.merge(mpc_wrk,how="inner",on="PRODUCT_SERVICE_ID")

In [304]:
fep_mpc_merge.head()

,ADJUD_GROUP_OPERATIONAL_ID,CLINENT_MEMBERSHIP_ID,PERSON_NBR,PATIENT_ID,CARRIER_OPERATIONAL_ID,CONTRACT_OPERATIONAL_ID,PRODUCT_SERVICE_ID,PHCY_CLAIM_ID,PHCY_RX_NBR,EXTERNAL_SRC_IND,...,LABLE_TXT,MEDCO_DRUG_NBR,DEA_CDE_y,LONGTERM_ACUTE,NDC_NBR_v1,DCR_DRUG_LST_ID_v1,NDC_NBR,DCR_DRUG_LST_ID,INSERT_DATE,DROP_DATE
0,NaN,NaN,NaN,NaN,NaN,NaN,10001.0,NaN,NaN,N,...,CAPTOPRIL 50MG TABLET,0.0,0.0,Y,10001.0,1.0,0.0,0.0,0,0
1,NaN,NaN,NaN,NaN,NaN,NaN,10001.0,NaN,NaN,N,...,CAPTOPRIL 50MG TABLET,0.0,0.0,Y,10001.0,2.0,0.0,0.0,0,0
2,NaN,NaN,NaN,NaN,NaN,NaN,10001.0,NaN,NaN,N,...,CAPTOPRIL 50MG TABLET,0.0,0.0,Y,10001.0,5.0,0.0,0.0,0,0
3,NaN,NaN,NaN,NaN,NaN,NaN,10001.0,NaN,NaN,N,...,CAPTOPRIL 50MG TABLET,0.0,0.0,Y,10001.0,7.0,0.0,0.0,0,0
4,NaN,NaN,NaN,NaN,NaN,NaN,10001.0,NaN,NaN,N,...,CAPTOPRIL 50MG TABLET,0.0,0.0,Y,10001.0,8.0,0.0,0.0,0,0

In [305]:
fep_mpc_merge["WIDGET_FLAG"]=""

In [306]:
fep_mpc_merge.head()

,ADJUD_GROUP_OPERATIONAL_ID,CLINENT_MEMBERSHIP_ID,PERSON_NBR,PATIENT_ID,CARRIER_OPERATIONAL_ID,CONTRACT_OPERATIONAL_ID,PRODUCT_SERVICE_ID,PHCY_CLAIM_ID,PHCY_RX_NBR,EXTERNAL_SRC_IND,...,MEDCO_DRUG_NBR,DEA_CDE_y,LONGTERM_ACUTE,NDC_NBR_v1,DCR_DRUG_LST_ID_v1,NDC_NBR,DCR_DRUG_LST_ID,INSERT_DATE,DROP_DATE,WIDGET_FLAG
0,NaN,NaN,NaN,NaN,NaN,NaN,10001.0,NaN,NaN,N,...,0.0,0.0,Y,10001.0,1.0,0.0,0.0,0,0,
1,NaN,NaN,NaN,NaN,NaN,NaN,10001.0,NaN,NaN,N,...,0.0,0.0,Y,10001.0,2.0,0.0,0.0,0,0,
2,NaN,NaN,NaN,NaN,NaN,NaN,10001.0,NaN,NaN,N,...,0.0,0.0,Y,10001.0,5.0,0.0,0.0,0,0,
3,NaN,NaN,NaN,NaN,NaN,NaN,10001.0,NaN,NaN,N,...,0.0,0.0,Y,10001.0,7.0,0.0,0.0,0,0,
4,NaN,NaN,NaN,NaN,NaN,NaN,10001.0,NaN,NaN,N,...,0.0,0.0,Y,10001.0,8.0,0.0,0.0,0,0,

In [307]:
fep_mpc_merge["WIDGET_FLAG"]=np.where(fep_mpc_merge["LONGTERM_ACUTE"]=="Y","N",fep_mpc_merge["WIDGET_FLAG"])

In [308]:
fep_mpc_merge.head()

,ADJUD_GROUP_OPERATIONAL_ID,CLINENT_MEMBERSHIP_ID,PERSON_NBR,PATIENT_ID,CARRIER_OPERATIONAL_ID,CONTRACT_OPERATIONAL_ID,PRODUCT_SERVICE_ID,PHCY_CLAIM_ID,PHCY_RX_NBR,EXTERNAL_SRC_IND,...,MEDCO_DRUG_NBR,DEA_CDE_y,LONGTERM_ACUTE,NDC_NBR_v1,DCR_DRUG_LST_ID_v1,NDC_NBR,DCR_DRUG_LST_ID,INSERT_DATE,DROP_DATE,WIDGET_FLAG
0,NaN,NaN,NaN,NaN,NaN,NaN,10001.0,NaN,NaN,N,...,0.0,0.0,Y,10001.0,1.0,0.0,0.0,0,0,N
1,NaN,NaN,NaN,NaN,NaN,NaN,10001.0,NaN,NaN,N,...,0.0,0.0,Y,10001.0,2.0,0.0,0.0,0,0,N
2,NaN,NaN,NaN,NaN,NaN,NaN,10001.0,NaN,NaN,N,...,0.0,0.0,Y,10001.0,5.0,0.0,0.0,0,0,N
3,NaN,NaN,NaN,NaN,NaN,NaN,10001.0,NaN,NaN,N,...,0.0,0.0,Y,10001.0,7.0,0.0,0.0,0,0,N
4,NaN,NaN,NaN,NaN,NaN,NaN,10001.0,NaN,NaN,N,...,0.0,0.0,Y,10001.0,8.0,0.0,0.0,0,0,N

In [309]:
fep_mpc=fep_mpc_merge[fep_mpc_merge["TRANSACTION_TYPE_CDE"].isin([31,36])
                 &(fep_mpc_merge["EXTERNAL_SRC_IND"] == "N")
                 &(fep_mpc_merge["SERVICED_DTE"]>new_date)
                 &(fep_mpc_merge["RX_COMPOUND_IND"]!="Y")
                      
                 &(((fep_mpc_merge["FILL_DAYS_SUPPLY_QTY"]>=14)
                    
                &((fep_mpc_merge["MAINTENANCE_DRUG_CDE"] == 1)
                   |(fep_mpc_merge["SPECIALTY_PHCY_IND"] ==1)))
                   
                 |(fep_mpc_merge["LONGTERM_ACUTE"]=="Y"))]

In [310]:
fep_mpc.TRANSACTION_TYPE_CDE.unique()

array([31, 36], dtype=int64)

In [311]:
fep_mpc.EXTERNAL_SRC_IND.unique()

array(['N'], dtype=object)

In [312]:
fep_mpc.SERVICED_DTE.unique()

array(['2023-12-31T00:00:00.000000000', '2024-01-01T00:00:00.000000000',
       '2023-08-26T00:00:00.000000000', '2024-01-10T00:00:00.000000000',
       '2024-01-19T00:00:00.000000000', '2024-01-23T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [313]:
fep_mpc.RX_COMPOUND_IND.unique()

array(['N'], dtype=object)

In [314]:
fep_mpc.FILL_DAYS_SUPPLY_QTY.unique()

array([30,  5, 31, 17, 12, 34, 20, 18, 25,  3,  7], dtype=int64)

In [315]:
fep_mpc.MAINTENANCE_DRUG_CDE.unique()

array([1, 0], dtype=int64)

In [316]:
fep_mpc.SPECIALTY_PHCY_IND.unique()

array([0.])

In [317]:
fep_mpc.LONGTERM_ACUTE.unique()

array(['Y'], dtype=object)

In [318]:
########### APPEND ALL TABLES ##############

In [319]:
APPEND_ALL_TABLES=pd.concat([oth_mpc,dod_suppl_mpc,uhg_mpc,bwp_mpc,gm_mpc,fep_mpc],axis=0,ignore_index=True)

In [320]:
APPEND_ALL_TABLES

,ADJUD_GROUP_OPERATIONAL_ID,CLIENT_MEMBERSHIP_ID,PERSON_NBR,PATIENT_ID,CARRIER_OPERATIONAL_ID,CONTRACT_OPERATIONAL_ID,PHCY_CLAIM_ID,PHCY_RX_NBR,FILL_DAYS_SUPPLY_QTY,TRANSACTION_TYPE_CDE,...,COPAY_PRICING_SUB_OPTION_NBR,CLINENT_MEMBERSHIP_ID,FILL_PHCY_PROVIDER_ID,FILL_PHCY_PROVIDER_SRC_CDE,PRESCRIBER_PROVIDER_ID,PRESCRIBER_PROVIDER_SRC_CDE,SERVICE_MSG_PRODUCT_ID,BILLING_DAW_CDE,CLAIM_SUBMISSION_TYPE_CDE,SERVICE_MSG_PRODUCT_SRC_CDE
0,VERN045,1.703727e+11,NaN,30.714.147,2368,40920,841.799.287.880.787.701,NaN,30,31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,VERN045,1.703727e+11,NaN,30.714.147,2368,40920,841.799.287.880.787.701,NaN,30,31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,VERN045,1.703727e+11,NaN,30.714.147,2368,40920,841.799.287.880.787.701,NaN,30,31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,VERN045,1.703727e+11,NaN,30.714.147,2368,40920,841.799.287.880.787.701,NaN,30,31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,VERN045,1.703727e+11,NaN,30.714.147,2368,40920,841.799.287.880.787.701,NaN,30,31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12734,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12735,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12736,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12737,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [321]:
#APPEND_ALL_TABLES.columns

In [322]:
APPEND_ALL_TABLES_nan=APPEND_ALL_TABLES.fillna(0)

In [323]:
APPEND_ALL_TABLES_nan

,ADJUD_GROUP_OPERATIONAL_ID,CLIENT_MEMBERSHIP_ID,PERSON_NBR,PATIENT_ID,CARRIER_OPERATIONAL_ID,CONTRACT_OPERATIONAL_ID,PHCY_CLAIM_ID,PHCY_RX_NBR,FILL_DAYS_SUPPLY_QTY,TRANSACTION_TYPE_CDE,...,COPAY_PRICING_SUB_OPTION_NBR,CLINENT_MEMBERSHIP_ID,FILL_PHCY_PROVIDER_ID,FILL_PHCY_PROVIDER_SRC_CDE,PRESCRIBER_PROVIDER_ID,PRESCRIBER_PROVIDER_SRC_CDE,SERVICE_MSG_PRODUCT_ID,BILLING_DAW_CDE,CLAIM_SUBMISSION_TYPE_CDE,SERVICE_MSG_PRODUCT_SRC_CDE
0,VERN045,1.703727e+11,0.0,30.714.147,2368,40920,841.799.287.880.787.701,0.0,30,31,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,VERN045,1.703727e+11,0.0,30.714.147,2368,40920,841.799.287.880.787.701,0.0,30,31,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,VERN045,1.703727e+11,0.0,30.714.147,2368,40920,841.799.287.880.787.701,0.0,30,31,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,VERN045,1.703727e+11,0.0,30.714.147,2368,40920,841.799.287.880.787.701,0.0,30,31,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,VERN045,1.703727e+11,0.0,30.714.147,2368,40920,841.799.287.880.787.701,0.0,30,31,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12734,0,0.000000e+00,0.0,0,0,0,0,0.0,7,31,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12735,0,0.000000e+00,0.0,0,0,0,0,0.0,7,31,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12736,0,0.000000e+00,0.0,0,0,0,0,0.0,7,31,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12737,0,0.000000e+00,0.0,0,0,0,0,0.0,7,31,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12738,0,0.000000e+00,0.0,0,0,0,0,0.0,7,31,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [324]:
APPEND_ALL_TABLES_fil=APPEND_ALL_TABLES_nan[APPEND_ALL_TABLES_nan['NDC_NBR_v1']!=0]

In [325]:
APPEND_ALL_TABLES_fil

,ADJUD_GROUP_OPERATIONAL_ID,CLIENT_MEMBERSHIP_ID,PERSON_NBR,PATIENT_ID,CARRIER_OPERATIONAL_ID,CONTRACT_OPERATIONAL_ID,PHCY_CLAIM_ID,PHCY_RX_NBR,FILL_DAYS_SUPPLY_QTY,TRANSACTION_TYPE_CDE,...,COPAY_PRICING_SUB_OPTION_NBR,CLINENT_MEMBERSHIP_ID,FILL_PHCY_PROVIDER_ID,FILL_PHCY_PROVIDER_SRC_CDE,PRESCRIBER_PROVIDER_ID,PRESCRIBER_PROVIDER_SRC_CDE,SERVICE_MSG_PRODUCT_ID,BILLING_DAW_CDE,CLAIM_SUBMISSION_TYPE_CDE,SERVICE_MSG_PRODUCT_SRC_CDE
0,VERN045,1.703727e+11,0.0,30.714.147,2368,40920,841.799.287.880.787.701,0.0,30,31,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,VERN045,1.703727e+11,0.0,30.714.147,2368,40920,841.799.287.880.787.701,0.0,30,31,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,VERN045,1.703727e+11,0.0,30.714.147,2368,40920,841.799.287.880.787.701,0.0,30,31,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,VERN045,1.703727e+11,0.0,30.714.147,2368,40920,841.799.287.880.787.701,0.0,30,31,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,VERN045,1.703727e+11,0.0,30.714.147,2368,40920,841.799.287.880.787.701,0.0,30,31,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12734,0,0.000000e+00,0.0,0,0,0,0,0.0,7,31,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12735,0,0.000000e+00,0.0,0,0,0,0,0.0,7,31,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12736,0,0.000000e+00,0.0,0,0,0,0,0.0,7,31,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12737,0,0.000000e+00,0.0,0,0,0,0,0.0,7,31,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12738,0,0.000000e+00,0.0,0,0,0,0,0.0,7,31,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0